#foto1-1{
    position: absolute;
    top: 100%;
    left: 0;
    background-image: url('../foto/_MG_8109.jpg');
    background-position: center bottom;
}
#foto1-1text{
    position: absolute;
    top: -150%;
}
#foto1-1text h2{
    color: white;
    padding: 15px;
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: 600;
}
#foto1-1text2{
    position: absolute;
    top: -235%;
}
#foto1-1text2 p{
    color: white;
    font-size: 2vw;
    line-height: initial;
    font-weight: 600;
}
#foto1-1video{
    top: -200%;
}
#foto1-1videopeu{
    color: black;
}
#foto1-2{
    top: 100%;
    background-image: url('../foto/Mapa_CHE_1880-bn.jpg');
}
#foto1-2text{
    position: absolute;
    top: -220%;
}
#foto1-2text p{
    position: relative;
    top: -300px;
    padding: 30px;
    color: white;
    line-height: initial;
}
#foto1-2text h2{
    position: relative;
    top: 0;
    color: white;
    padding: 15px;
    font-size: 4.5vw;
    text-transform: uppercase;
    font-weight: 600;
}
#foto1-3{
    top: 0;
    opacity: 0;
    display: none;
    background-image: url('../foto/Mapa_CHE_1880.jpg');
}
#foto1-3text{
    position: absolute;
    top: -215%;
}
#foto1-3text p{
    font-size: 2vw;
    color: white;
    font-weight: 600;
}
#foto1-4{
    top: 100%;
}
#foto1-4foto1{
    top: 0;
    background-image: url('../foto/buda-65-bis-bn.jpg');
}
#foto1-4foto2{
    top: 0;
    opacity: 0;
    background-image: url('../foto/buda-65-bis.jpg');
}
#foto1-4text{
    position: absolute;
    bottom: 210%;
}
#foto1-4text p{
    font-size: 2vw;
    color: #888D57;
    font-weight: 600;
}
#foto1-4text2{
    position: absolute;
    bottom: 225%;
}
#foto1-4text2 p{
    color: white;
    padding: 20px;
}
#foto1-5{
    top: -100%;
}
#apartat2{display:none;}
#foto2-1{
    top: -100%;
    background-image: url('../foto/buda-81.jpg');
}
#foto2-1text{
    position: absolute;
    top: -240%;
}
#foto2-1text p{
    position: relative;
    top: 0;
    padding: 30px;
    color: white;
    font-size: 1.6vw;
}
#foto2-1text h2{
    position: relative;
    top: 300px;
    color: white;
    padding: 15px;
    font-size: 3.5vw;
    text-transform: uppercase;
    font-weight: 600;
}
#foto2-2{
    top: -100%;
    background-image: url('../foto/Santi203.jpg');
}
#foto2-2text{
    position: absolute;
    bottom: -215%;
}
#foto2-2text h2{
    position: relative;
    top: 0;
    color: white;
    padding: 15px;
    font-size: 1.4vw;
    text-transform: uppercase;
    font-weight: 600;
}
#foto2-2text p{
    position: relative;
    top: 300px;
    padding: 30px;
    color: white;
}
#foto2-3{
    top: 0;
    left: -100%;
    background-image: url('../foto/buda-3-.jpg');
}
#foto2-4{
    top: -100%;
    background-image: url('../foto/_MG_8108.jpg');
}
#foto2-4text{
    position: absolute;
    top: 225%;
}
#foto2-4text p{
    font-size: 2vw;
    color: white;
}
#foto2-5{
    top: -100%;
    background-image: url('../foto/Santi145.jpg');
}
#foto2-5text{
    position: absolute;
    top: 230%;
}
#foto2-5text h2{
    position: relative;
    top: 0;
    color: white;
    padding: 15px;
    font-size: 1.4vw;
    text-transform: uppercase;
    font-weight: 600;
}
#foto2-5text p{
    position: relative;
    top: 300px;
    padding: 30px;
    color: white;
}
#foto2-5video{
    top: 200%;
}
#foto2-6{
    top: -100%;
    background-image: url('../foto/Santi120.jpg');
    background-position: center center;
}
#foto2-6text{
    position: absolute;
    bottom: -210%;
}
#foto2-6text p{
    position: relative;
    top: 300px;
    color: white;
    padding: 30px;
    font-size: 1.2vw;
}
#foto2-6boto{
    position: relative;
    top: 0;
}
#foto2-7{
    top: -100%;
    background-image: url('../foto/Santi151.jpg');
    background-position: center center;
}
#foto2-7 .tapa{
    opacity: .7;
}
#foto2-7text{
    position: absolute;
    top: 245%;
}
#foto2-7text p{
    color: white;
    font-size: 2vw;
}
#foto2-8{
    top: -100%;
    background-image: url('../foto/Santi119.jpg');
}
#foto2-8text{
    position: absolute;
    top: 235%;
}
#foto2-8text h2{
    position: relative;
    top: 0;
    color: white;
    padding: 15px;
    font-size: 1.4vw;
    text-transform: uppercase;
    font-weight: 600;
}
#foto2-8text p{
    position: relative;
    top: 300px;
    padding: 30px;
    color: white;
}
#foto2-9{
    top: -100%;
    background-image: url('../foto/Santi174.jpg');
}
#foto2-9text{
    position: absolute;
    top: 235%;
}
#foto2-9text h2{
    position: relative;
    top: 0;
    color: #888D57;
    padding: 15px;
    font-size: 1.4vw;
    text-transform: uppercase;
    font-weight: 600;
}
#foto2-9text p{
    position: relative;
    top: 300px;
    padding: 30px;
    color: #888D57;
}
#foto2-9video{
    top: 200%;
}
#foto2-9text2{
    position: absolute;
    top: 250%;
}
#foto2-9text2 p{
    color: white;
    font-size: 2vw;
}
#apartat3{display:none;}
#foto3-1{
    top: -100%;
    background-image: url('../foto/Santi177.jpg');
}
#foto3-1text{
    position: absolute;
    top: 210%;
}
#foto3-1text p{
    position: relative;
    top: 0;
    padding: 30px;
    color: white;
}
#foto3-1text h2{
    position: relative;
    top: 300px;
    color: white;
    padding: 15px;
    font-size: 3.4vw;
    text-transform: uppercase;
    font-weight: 600;
}
#foto3-1video{
    top: 200%;
}
#foto3-1text2{
    position: absolute;
    top: 210%;
}
#foto3-1text2 p{
    color: white;
    font-size: 2vw;
    position: relative;
    top: 0;
}
#foto3-1boto{
    position: relative;
    top: 300px;
}
#foto3-2{
    top: -100%;
    background-image: url('../foto/Santi202.jpg');
}
#foto3-2text{
    position: absolute;
    top: 210%;
}
#foto3-2text p{
    padding: 30px;
    color: white;
}
#apartat4{display:none;}
#foto4-1{
    top: -100%;
    background-image: url('../foto/buda-68.jpg');
}
#foto4-1text{
    position: absolute;
    top: 215%;
}
#foto4-1text p{
    position: relative;
    top: 0;
    padding: 30px;
    color: white;
    font-size: 1.8vw
}
#foto4-1text h2{
    position: relative;
    top: 300px;
    color: white;
    padding: 15px;
    font-size: 3.4vw;
    text-transform: uppercase;
    font-weight: 600;
}




.videofons{
    z-index: 10;
}
.videopeu{
    color: black;
}
/*
    background-image: url('../foto/buda-68.jpg');
    background-size: cover;
}
#foto4-1text{
    position: absolute;
    top: 250%;
    left: 100px;
}
#foto4-1text p{
    position: relative;
    top: 0;
    padding: 30px;
    color: white;
    font-size: 3rem;
    line-height: initial;
    font-weight: 400;
    width: 34%;
}
#foto4-1text h2{
    position: relative;
    top: 300px;
    color: white;
    padding: 15px;
    font-size: 6rem;
    line-height: initial;
    text-transform: uppercase;
    font-weight: 600;
    width: 104rem;
}
#foto4-1peu{
    position: absolute;
    color: white;
    width: 15%;
    left: -50%;
    bottom: 10px;
    z-index: -8;
}
#foto4-2{
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
    top: -100%;
    left: 0;
    z-index: -10;
    background-image: url('../foto/buda-59.jpg');
    background-size: cover;
}
#foto4-2text{
    position: absolute;
    top: 250%;
    right: 100px;
    width: 25%;
}
#foto4-2text p{
    position: relative;
    top: 0;
    color: white;
    font-size: 3rem;
    line-height: initial;
    font-weight: 600;
    margin-bottom: 15px;
}
#play4-2{
    position: relative;
    top: 300px;
    z-index: 5;
}
#play4-2 img{
    background-color: rgba(238,196,27,.6);
}
#play4-2 img:hover{
    background-color: #EEC41B;;
    cursor: pointer;
}
#foto4-2peu{
    position: absolute;
    color: white;
    width: 15%;
    left: -50%;
    bottom: 10px;
    z-index: -8;
}
#videos iframe{
    width: 95%;
}*/