.container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
    z-index: -1;
}
.videopopup{
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0,0,0,.7);
}
.videopopup #videos{
    display: block;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    width: 55%;
}
#videos video{
    width: 95%;
}
#videos .groc{
    position: absolute;
    margin-left: -200px;
    margin-top: -100px;
    width: 240px;
    padding: 5px;
}
#videos .blau{
    padding: 5px;
    display: block;
    width: 30px;
    float: right;
    cursor: pointer;
}
#videos .blau img{
    height: 20px;
}
.scroll{
    position: absolute;
    width: 100vw;
    bottom: -10%;
    left: 43%;
    z-index: 0;
}
.scroll img{
    display: block;
    margin-right: auto;
    margin-bottom: auto;
}
#foto1-1{
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
    bottom: -100%;
    left: 0;
    z-index: -10;
    background-image: url('../foto/_MG_8109.jpg');
    background-size: cover;
    background-position: bottom;
}
#foto1-1text{
    position: absolute;
    top: -150%;
    left: 100px;
}
#foto1-1text h2{
    position: relative;
    color: white;
    padding: 30px;
    font-size: 9rem;
    line-height: initial;
    text-transform: uppercase;
    font-weight: 600;
    width: 126rem;
}
#foto1-1peu{
    position: absolute;
    color: white;
    width: 15%;
    left: -50%;
    bottom: 10px;
}
#foto1-1tapa{
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -8;
    opacity: 0;
}
#foto1-1text2{
    position: absolute;
    top: -150%;
    left: 100px;
}
#foto1-1text2 p{
    color: white;
    font-size: 4.2rem;
    line-height: initial;
    font-weight: 600;
    width: 40%;
}
#foto1-1video{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    top: -200%;
    left: 0;
    z-index: -5;
}
#foto1-1video video{
    height: 100vh;
    display: block;
    margin: auto auto auto auto;
}
#foto1-1videopeu{
    position: absolute;
    width: 250px;
    bottom: 100px;
    left: -50%;
    z-index: -4;
    padding: 10px;
}






#apartat2{display: none;}
#apartat3{display: none;}
#apartat4{display: none;}
#apartat5{display: none;}
#apartat6{display: none;}