.menuinf{
    width: 2215px;
    display: block;
    padding-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
}
.menuinf a{
    text-align: center;
    text-decoration: inherit;
    float: left;
    width: 170px;
    padding-left: 5px;
    padding-right: 5px;
}
.menuinf a img{
     width: 100% !important; 
}
.menuinf a h3{
    color: white;
    font-weight: 600;
    font-size: 1.1rem;
    text-transform: uppercase;
    margin-top: 10px;
    line-height: initial;
}
#foto1-1{
    top: -100%;
    background-image: url('../foto/ramon_fabra/IMG3.jpg');
    background-position: center top;
}
#foto1-1text{
    position: absolute;
    top: 110%;
    display: none;
}
#foto1-1text h2{
    color: white;
    padding: 30px;
    font-size: 4vw;
    text-transform: uppercase;
    font-weight: 600;
    line-height: initial;
}
#foto1-1text2{
    position: absolute;
    bottom: -190%;
}
#foto1-1text2 p{
    position: relative;
    top: 300px;
    color: white;
    font-weight: 600;
    font-size: 1.6vw;
}
#foto1-1boto{
    position: relative;
    top: 0;
}
#foto1-2{
    top: -100%;
    background-image: url('../foto/AFCEC_EMC_X_4734.jpg');
    background-position: center center;
}
#foto1-2text{
    position: absolute;
    top: 220%;
}
#foto1-2text h2{
    color: white;
    padding: 20px;
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: 600;
    line-height: initial;
}
#foto1-2text2{
    position: absolute;
    top: 230%;
}
#foto1-2text2 p{
    color: #F15D42;
    padding: 30px;
}
#foto1-3{
    top: -100%;
    background-image: url('../foto/_MG_8116.jpg');
    background-position: center top;
}
#foto1-3text{
    position: absolute;
    top: 220%;
}
#foto1-3text p{
    position: relative;
    top: 0;
    color: white;
    padding: 20px;
}
#foto1-3boto{
    position: relative;
    top: 300px;
}
#foto1-4{
    top: -100%;
    background-image: url('../foto/_MG_8130.jpg');
    background-position: center center;
}
#foto1-4text{
    position: absolute;
    bottom: -188%;
}
#foto1-4text p{
    position: relative;
    top: 300px;
    color: white;
    padding: 20px;
}
#foto1-4boto1{
    position: relative;
    top: 0;
}
#foto1-4boto2{
    position: relative;
    top: 300px;
}
#foto1-4boto3{
    position: relative;
    top: 300px;
}
#foto1-5{
    top: -100%;
    left: 0;
    background-image: url('../foto/apartat1foto5.jpg');
    background-position: center center;
}
#foto1-5text{
    position: absolute;
    top: 215%;
}
#foto1-5text p{
    color: white;
    font-weight: 600;
    font-size: 1.6vw;
}
#foto1-6{
    top: 0;
    left: 100%;
    background-image: url('../foto/apartat1foto6.jpg');
    background-position: center center;
}
#foto1-6text{
    position: absolute;
    bottom: -190%;
}
#foto1-6text p{
    position: relative;
    top: 300px;
    color: white;
    font-weight: 600;
    font-size: 1.6vw;
}
#foto1-6boto{
    position: relative;
    top: 0;
}
#foto1-6fotos div div img{
    height: 100%;
    width: auto;
}



#apartat2{display: none;}
#apartat3{display: none;}
#apartat4{display: none;}
#apartat5{display: none;}
#apartat6{display: none;}
#apartat7{display: none;}
#apartat8{display: none;}
#apartat9{display: none;}