.menuinf{
    width: 2215px;
    display: block;
    padding-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
}
.menuinf a{
    text-align: center;
    text-decoration: inherit;
    float: left;
    width: 170px;
    padding-left: 5px;
    padding-right: 5px;
}
.menuinf a img{
     width: 100% !important; 
}
.menuinf a h3{
    color: white;
    font-weight: 600;
    font-size: 1.1rem;
    text-transform: uppercase;
    margin-top: 10px;
    line-height: initial;
}
#foto1-1{
    top: 100%;
    background-image: url('../foto/3Foto_Seguint-tot-lEbre.jpg');
    background-position: center center;
}
#foto1-1text{
    position: absolute;
    top: -50%;
    display: none;
}
#foto1-1text h2{
    color: white;
    padding: 30px;
    font-size: 4vw;
    text-transform: uppercase;
    font-weight: 600;
    line-height: initial;
}
#foto1-2{
    top: 100%;
    background-image: url('../foto/PLANOL_GOLAS_DEL_EBRO_1883_BNE.jpg');
}
#foto1-2text{
    position: absolute;
    top: -185%;
}
#foto1-2text p{
    position: relative;
    top: -300px;
    color: white;
    padding: 15px;
}
#foto1-2text h2{
    position: relative;
    top: 0;
    color: white;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: initial;
}
#foto1-2text2{
    position: absolute;
    top: -185%;
}
#foto1-2text2 h3{
    color: white;
    font-weight: 600;
    line-height: initial;
}
#foto1-2text3{
    position: absolute;
    top: -185%;
}
#foto1-2text3 h3{
    color: black;
    font-weight: 600;
    line-height: initial;
}
#apartat2{display: none;}
#apartat3{display: none;}
#apartat4{display: none;}
#apartat5{display: none;}
#apartat6{display: none;}
#apartat7{display: none;}
#apartat8{display: none;}
#apartat9{display: none;}