.menuinf{
    width: 2215px;
    display: block;
    padding-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
}
.menuinf a{
    text-align: center;
    text-decoration: inherit;
    float: left;
    width: 170px;
    padding-left: 5px;
    padding-right: 5px;
}
.menuinf a img{
     width: 100% !important; 
}
.menuinf a h3{
    color: white;
    font-weight: 600;
    font-size: 1.1rem;
    text-transform: uppercase;
    margin-top: 10px;
    line-height: initial;
}
#foto1-1{
    top: -100%;
    background-image: url('../foto/ramon_fabra/IMG3.jpg');
    background-position: center top;
}
#foto1-1text{
    position: absolute;
    top: 110%;
    display: none;
}
#foto1-1text h2{
    color: white;
    padding: 30px;
    font-size: 4vw;
    text-transform: uppercase;
    font-weight: 600;
    line-height: initial;
}
#foto1-1text2{
    position: absolute;
    bottom: -190%;
}
#foto1-1text2 p{
    position: relative;
    top: 300px;
    color: white;
    font-weight: 600;
    font-size: 1.6vw;
}
#foto1-1boto{
    position: relative;
    top: 0;
}
#foto1-2{
    top: -100%;
    background-image: url('../foto/AFCEC_EMC_X_4734.jpg');
    background-position: center center;
}
#foto1-2text{
    position: absolute;
    top: 220%;
}
#foto1-2text h2{
    color: white;
    padding: 20px;
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: 600;
    line-height: initial;
}
#foto1-2text2{
    position: absolute;
    top: 230%;
}
#foto1-2text2 p{
    color: #F15D42;
    padding: 30px;
}
#foto1-3{
    top: -100%;
    background-image: url('../foto/_MG_8116.jpg');
    background-position: center top;
}
#foto1-3text{
    position: absolute;
    top: 220%;
}
#foto1-3text p{
    color: white;
    padding: 20px;
}
#foto1-4{
    top: -100%;
    background-image: url('../foto/_MG_8130.jpg');
    background-position: center center;
}
#foto1-4text{
    position: absolute;
    bottom: -188%;
}
#foto1-4text p{
    position: relative;
    top: 300px;
    color: white;
    padding: 20px;
}
#foto1-4boto1{
    position: relative;
    top: 0;
}
#foto1-4boto2{
    position: relative;
    top: 300px;
}
#foto1-4boto3{
    position: relative;
    top: 300px;
}
#foto1-5{
    top: -100%;
    left: 0;
    background-image: url('../foto/apartat1foto5.jpg');
    background-position: center center;
}
#foto1-5text{
    position: absolute;
    top: 215%;
}
#foto1-5text p{
    color: white;
    font-weight: 600;
    font-size: 1.6vw;
}
#foto1-6{
    top: 0;
    left: 100%;
    background-image: url('../foto/apartat1foto6.jpg');
    background-position: center center;
}
#foto1-6text{
    position: absolute;
    bottom: -190%;
}
#foto1-6text p{
    position: relative;
    top: 300px;
    color: white;
    font-weight: 600;
    font-size: 1.6vw;
}
#foto1-6boto{
    position: relative;
    top: 0;
}
.sliderfotos div img{
    height: 100%;
    width: auto;
}
#foto1-7{
    top: -100%;
    background-image: url('../foto/apartat1foto7.jpg');
    background-position: center center;
}
#foto1-7text{
    position: absolute;
    bottom: -197%;
}
#foto1-7text p{
    position: relative;
    top: 0;
    color: #F15D42;
    padding: 20px;
}
#foto1-7boto1{
    position: relative;
    top: 300px;
}
#foto1-7boto2{
    position: relative;
    top: 300px;
    left: 5vw;
}
#foto1-8{
    top: -100%;
    left: 0;
    background-image: url('../foto/Santi150.jpg');
    background-position: center center;
}
#foto1-8text{
    position: absolute;
    top: 215%;
}
#foto1-8text p{
    position: relative;
    top: 0;
    color: white;
    padding: 20px;
}
#foto1-8boto{
    position: relative;
    top: 300px;
}
#foto1-9{
    top: 0;
    left: -100%;
    background-image: url('../foto/Santi188.jpg');
    background-position: center center;
}
#foto1-9text{
    position: absolute;
    bottom: -93%;
}
#foto1-9boto1{
    position: relative;
    top: 0;
}
#foto1-9boto2{
    position: relative;
    top: 300px;
}
#foto1-10{
    top: -100%;
    background-image: url('../foto/AFCEC_EMC_X_4735.jpg');
    background-position: center center;
}
#foto1-10text{
    position: absolute;
    top: 215%;
}
#foto1-10text p{
    position: relative;
    top: 0;
    color: white;
    padding: 20px;
}
#foto1-10boto{
    position: relative;
    top: 300px;
}
#foto1-11{
    top: -100%;
    background-image: url('../foto/buda-77.jpg');
    background-position: center center;
}
#foto1-11text{
    position: absolute;
    top: 210%;
}
#foto1-11text p{
    position: relative;
    top: 0;
    color: white;
    font-weight: 600;
    font-size: 1.6vw;
}
#foto1-11boto1{
    position: relative;
    top: 300px;
    left: -7vw;
}
#foto1-11boto2{
    position: relative;
    top: 300px;
}
#apartat2{display: none;}
#foto2-1{
    top: 100%;
    background-image: url('../foto/apartat2foto1.jpg');
    background-position: center center;
}
#foto2-1text{
    position: absolute;
    top: -190%;
}
#foto2-1text h2{
    position: relative;
    top: -300px;
    color: white;
    padding: 30px;
    font-size: 3.5vw;
    text-transform: uppercase;
    font-weight: 600;
}
#foto2-1text p{
    position: relative;
    top: 0;
    color: white;
    padding: 30px;
}
#foto2-1video{
    position: absolute;
    top: -200%;
}
#foto2-2{
    top: 100%;
    background-image: url('../foto/apartat2foto2.jpg');
    background-position: center center;
}
#foto2-2text{
    position: absolute;
    top: -190%;
}
#foto2-2text p{
    color: white;
}
#foto2-2text p i{
    font-size: 1.15vw;
}
#apartat3{display: none;}
#foto3-1{
    top: 100%;
    background-image: url('../foto/Arxiu_Joan_Franch/horts_buda_01.jpg');
    background-position: center bottom;
}
#foto3-1text{
    position: absolute;
    top: -150%;
}
#foto3-1text h2{
    color: white;
    padding: 30px;
    font-size: 3.5vw;
    text-transform: uppercase;
    font-weight: 600;
}
#foto3-1videos{
    position: absolute;
    top: -180%;
}
#foto3-1videos div{
    position: relative;
    top: -300px;
    margin-bottom: 15px;
    opacity: .85;
    cursor: pointer;
}
#foto3-1videos div:hover{
    opacity: 1;
}
#foto3-1videos .play{
    position: absolute;
    top: 25%;
    left: 40%;
}
#foto3-1video6{
    top: 0 !important;
}
#foto3-2{
    top: 100%;
    background-image: url('../foto/Santi204.jpg');
    background-position: center center;
}
#foto3-2text{
    position: absolute;
    top: -190%;
}
#foto3-2text p{
    position: relative;
    top: -300px;
    color: white;
    padding: 30px;
}
#foto3-2boto1{
    position: relative;
    top: -300px;
    left: -5vw;
}
#foto3-2boto2{
    position: relative;
    top: 0;
}
#apartat4{display: none;}
#foto4-1{
    top: 100%;
    background-image: url('../foto/ramon_fabra/IMG4.jpg');
    background-position: center center;
}
#foto4-1text{
    position: absolute;
    bottom: 210%;
}
#foto4-1text p{
    position: relative;
    top: -300px;
    color: white;
    padding: 30px;
    font-size: 1.3vw;
}
#foto4-1text h2{
    position: relative;
    top: 0;
    color: white;
    padding: 30px;
    font-size: 3.5vw;
    text-transform: uppercase;
    font-weight: 600;
}
#foto4-1peu{
    color: black;
}
#foto4-1text2{
    position: absolute;
    top: -210%;
}
#foto4-1text2 p{
    position: relative;
    top: -300px;
    color: #6684A4;
    padding: 30px;
    font-size: 1.3vw;
}
#foto4-1boto{
    position: relative;
    top: 0;
}
#foto4-2{
    top: 100%;
    background-image: url('../foto/Arxiu_Joan_Franch/casa_buda_01.jpg');
    background-position: center center;
}
#foto4-2text{
    position: absolute;
    top: -210%;
}
#foto4-2text p{
    position: relative;
    top: -300px;
    color: #6684A4;
    padding: 30px;
    font-size: 1.3vw;
}
#foto4-2boto{
    position: relative;
    top: 0;
}
#foto4-3{
    top: 100%;
    background-image: url('../foto/ramon_fabra/IMG5.jpg');
    background-position: center center;
}
#foto4-3text{
    position: absolute;
    bottom: 210%;
}
#foto4-3text p{
    position: relative;
    top: -300px;
    color: white;
    padding: 30px;
    font-size: 1.3vw;
}
#foto4-3boto1-1{
    position: relative;
    top: -300px;
}
#foto4-3boto1-2{
    position: relative;
    top: -300px;
    margin-left: 10vw;
}
#foto4-3boto2{
    position: relative;
    top: 0;
}
#apartat5{display: none;}
#foto5-1{
    top: 100%;
    background-image: url('../foto/Santi138.jpg');
    background-position: center center;
}
#foto5-1text{
    position: absolute;
    top: -210%;
}
#foto5-1text h2{
    color: white;
    padding: 30px;
    font-size: 3.5vw;
    text-transform: uppercase;
    font-weight: 600;
}
#foto5-2{
    top: 100%;
    background-image: url('../foto/Arxiu_Joan_Franch/pas_de_barca_01.jpg');
    background-position: center center;
}
#foto5-2text{
    position: absolute;
    top: -260%;
}
#foto5-2text p{
    color: white;
    padding: 30px;
    font-size: 1.4vw;
}
#foto5-3{
    top: 100%;
    background-image: url('../foto/Santi218.jpg');
    background-position: center center;
}
#foto5-3text{
    position: absolute;
    top: -210%;
}
#foto5-3text p{
    position: relative;
    top: -300px;
    color: white;
    padding: 30px;
    font-size: 1.4vw;
}
#foto5-3boto{
    position: relative;
    top: 0;
}
#foto5-4{
    top: 100%;
    background-image: url('../foto/apartat5foto4.jpg');
    background-position: center center;
}
#foto5-4text{
    position: absolute;
    top: -225%;
}
#foto5-4text p{
    color: white;
    padding: 30px;
    font-size: 2vw;
}
#foto5-5{
    top: 100%;
    background-image: url('../foto/apartat5foto5.jpg');
    background-position: center center;
}
#foto5-5text{
    position: absolute;
    top: -240%;
}
#foto5-5text p{
    position: relative;
    top: -300px;
    color: #888D57;
    padding: 30px;
    font-size: 1.4vw;
}
#foto5-5boto{
    position: relative;
    top: 0;
}
#foto5-5peu{
    color: black;
}
#foto5-6{
    top: -100%;
}
#foto5-6 .videofull{
    top: 0;
}
#foto5-6 p{
    padding: 15px;
}
#apartat6{display: none;}
#foto6-1{
    top: 100%;
    background-image: url('../foto/Arxiu_Joan_Franch/festes_de_buda_03.jpg');
    background-position: center center;
}
#foto6-1text{
    position: absolute;
    top: -210%;
}
#foto6-1text h2{
    color: white;
    padding: 30px;
    font-size: 3.5vw;
    text-transform: uppercase;
    font-weight: 600;
}
#foto6-1text2{
    position: absolute;
    top: -230%;
}
#foto6-1text2 p{
    position: relative;
    top: -300px;
    color: #F58431;
    padding: 30px;
    font-size: 1.3vw;
}
#foto6-1boto{
    position: relative;
    top: 0;
}
#foto6-1video{
    top: -200%;
}
#foto6-1video p{
    padding: 15px;
}
#foto6-2{
    top: 100%;
    background-image: url('../foto/apartat6foto2.jpg');
    background-position: center center;
}
#foto6-2text{
    position: absolute;
    top: -240%;
}
#foto6-2text p{
    position: relative;
    top: -300px;
    color: white;
    padding: 30px;
}
#foto6-2boto1{
    position: relative;
    top: -300px;
}
#foto6-2boto2{
    position: relative;
    top: 0;
}
#foto6-3{
    top: 100%;
    background-image: url('../foto/Arxiu_Joan_Franch/futbol_buda_03.jpg');
    background-position: center center;
}
#foto6-3text{
    position: absolute;
    top: -250%;
}
#foto6-3text p{
    position: relative;
    top: -300px;
    color: white;
    padding: 30px;
}
#foto6-3boto{
    position: relative;
    top: 0;
}
#foto6-4{
    top: 100%;
    background-image: url('../foto/apartat6foto4.jpg');
    background-position: center center;
}
#foto6-4text{
    position: absolute;
    top: -245%;
}
#foto6-4text p{
    position: relative;
    top: 0;
    color: #F58431;
    padding: 30px;
    font-size: 1.3vw;
}
#foto6-4boto{
    position: relative;
    top: -300px;
}
#foto6-4peu{
    color: black;
}
#foto6-5{
    top: 100%;
    background-image: url('../foto/Arxiu_Joan_Franch/festes_de_buda_06.jpg');
    background-position: center center;
}
#foto6-5text{
    position: absolute;
    top: -220%;
}
#foto6-5text p{
    color: white;
    padding: 30px;
    font-size: 1.3vw;
}
#foto6-6{
    top: 100%;
    background-image: url('../foto/Arxiu_Joan_Franch/futbol_buda_01.jpg');
    background-position: center center;
}
#foto6-6 .tapa{
    opacity: .6;
}
#foto6-6text{
    position: absolute;
    top: -230%;
}
#foto6-6text p{
    position: relative;
    top: 0;
    color: white;
    font-size: 2vw;
}
#foto6-6boto1{
    position: relative;
    top: -300px;
    left: -5vw;
}
#foto6-6boto2{
    position: relative;
    top: 0;
}
#foto6-6text2{
    position: absolute;
    top: -240%;
}
#foto6-6text2 p{
    color: white;
    padding: 30px;
    font-size: 1.3vw;
}
#apartat7{display: none;}
#foto7-1{
    top: 100%;
    background-image: url('../foto/apartat7foto1.jpg');
    background-position: center center;
}
#foto7-1text{
    position: absolute;
    top: -240%;
}
#foto7-1text h2{
    position: relative;
    top: -300px;
    color: white;
    padding: 30px;
    font-size: 3.5vw;
    text-transform: uppercase;
    font-weight: 600;
}
#foto7-1boto{
    position: relative;
    top: 0;
}
#foto7-2{
    top: 100%;
    background-image: url('../foto/apartat7foto2.jpg');
    background-position: center center;
}
#foto7-2text{
    position: absolute;
    top: -210%;
}
#foto7-2text p{
    color: white;
    font-size: 1.4vw;
}
#foto7-2boto1{
    position: relative;
    top: -300px;
}
#foto7-2boto2{
    position: relative;
    left: 5vw;
    top: -300px;
}
#foto7-2boto3{
    position: relative;
    top: -300px;
}