.container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
    z-index: -1;
}
.videopopup{
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0,0,0,.7);
}
.videopopup #videos{
    display: block;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    width: 55%;
}
#videos video{
    width: 95%;
}
#videos .groc{
    position: absolute;
    margin-left: -200px;
    margin-top: -100px;
    width: 240px;
    padding: 5px;
}
#videos .blau{
    padding: 5px;
    display: block;
    width: 30px;
    float: right;
    cursor: pointer;
}
#videos .blau img{
    height: 20px;
}
.scroll{
    position: absolute;
    width: 100vw;
    bottom: -110%;
    left: 43%;
    z-index: 0;
}
.scroll img{
    display: block;
    margin-right: auto;
    margin-bottom: auto;
    width: 12vw;
}
.boto{    
    position: relative;
    margin-bottom: 10px;
    z-index: 5;
}
.boto img{
    opacity: .8;
    width: 5vw;
}
.boto img:hover{
    opacity: 1;
    cursor: pointer;
}
.slider{
    display: none;
    height: 100vh;
    width: 100%;
    position: absolute;
    background-color: rgba(0,0,0,.6);
    z-index: 5;
}
.slider .blau{
    position: absolute;
    top: 10vh;
    right: 2.5vw;
    display: block;
    width: 30px;
    float: right;
    cursor: pointer;
    padding: 5px;
}
.slider .blau img{
    height: 20px;
}
.slider .groc{
    position: absolute;
    left: 3vw;
    top: 85vh;
    width: 240px;
    padding: 5px;
}
.sliderfotos{
    height: 80vh;
    width: 90vw;
    margin-left: 5vw;
    margin-top: 10vh;
}
.sliderfotos div img{
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.foto{
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
    background-color: rgba(0,0,0,.6);
    text-align: center;
}
.foto img{
    max-height: 90vh;
    max-width: 95vw;
    margin-top: 5vh;
}
.fotofons{
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
    left: 0;
    z-index: -10;
    background-size: cover;
    background-position: center center;
}
.videofons{
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: 0;
    z-index: -10;
    overflow: hidden;
}
.peu{
    position: absolute;
    color: white;
    left: -50%;
    bottom: 10px;
    font-size: 0.85vw;
}
.tapa{
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -9;
    opacity: 0;
}
.f{
    position: absolute;
    z-index: -5;
    max-width: 45vw;
    max-height: 75vh;
    top: -80%;
    left: -80%;
    cursor: pointer;
}
.videofull{
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 10;
    top: 100%;
    display: table-cell;
    vertical-align: middle;
}
.videofull video{
    display: block;
    max-height: 100vh;
    min-width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.videofull .videopeu{
    position: absolute;
    color: white;
    width: 15%;
    left: 100px;
    bottom: -110%;
    padding: 10px;
}
.videofons video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    min-width: 100vw;
    /* object-fit: fill; */
}
h2{
    font-size: 3.4vw;
    line-height: initial;
}
h3{
    font-size: 1.8vw;
    line-height: initial;
}
p{
    font-size: 1vw;
    line-height: initial;
}
#foto1-1{
    top: 100%;
    background-image: url('../foto/3Foto_Seguint-tot-lEbre.jpg');
    background-position: center center;
}
#foto1-1text{
    position: absolute;
    top: -50%;
    display: none;
}
#foto1-1text h2{
    color: white;
    padding: 30px;
    font-size: 4vw;
    text-transform: uppercase;
    font-weight: 600;
    line-height: initial;
}
#foto1-2{
    top: 100%;
    background-image: url('../foto/PLANOL_GOLAS_DEL_EBRO_1883_BNE.jpg');
}
#foto1-2text{
    position: absolute;
    top: -185%;
}
#foto1-2text p{
    position: relative;
    top: -300px;
    color: white;
    padding: 15px;
}
#foto1-2text h2{
    position: relative;
    top: 0;
    color: white;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: initial;
}
#foto1-2text2{
    position: absolute;
    top: -185%;
}
#foto1-2text2 h3{
    color: white;
    font-weight: 600;
    line-height: initial;
}
#foto1-2text3{
    position: absolute;
    top: -185%;
}
#foto1-2text3 h3{
    color: black;
    font-weight: 600;
    line-height: initial;
}
#foto1-3{
    top: 100%;
    background-image: url('../foto/PLANOL-PROV-TARRAGONA_1853_BNE.jpg');
}
#foto1-3text{
    position: absolute;
    top: -178%;
}
#foto1-3text p{
    position: relative;
    top: -300px;
    color: white;
    padding: 15px;
}
#foto1-3peu{
    color: black;
}
#play1-3{
    position: relative;
    top: 0px;
    z-index: 5;
}
#apartat2{display: none;}
#foto2-1{
    top: -100%;
    background-image: url('../foto/Planol_03.jpg');
    background-position: center center;
}
#foto2-1text{
    position: absolute;
    top: -50%;
}
#foto2-1text h2{
    color: white;
    padding: 20px;
    text-transform: uppercase;
    font-weight: 600;
}
#foto2-1peu{
    color: #6684A4;
}
#foto2-2{
    top: 0;
    background-image: url('../foto/Planol_03-2.jpg');
    background-position: center center;
    opacity: 0;
}
#foto2-2text{
    position: absolute;
    bottom: 108%;
}
#foto2-2text p{
    color: #6684A4;
    padding: 25px;
    line-height: initial;
}
#foto2-2peu{
    color: white;
    left: 0;
    opacity: 0;
}
#foto2-3{
    top: -100%;
    background-image: url('../foto/PLANOL_GOLAS_DEL_EBRO_1883_BNE.jpg');
    background-position: center center;
}
#foto2-3text{
    position: absolute;
    bottom: 108%;
}
#foto2-3text p{
    color: white;
    padding: 25px;
    line-height: initial;
}
#foto2-3peu{
    color: black;
}
#foto2-4{
    top: -100%;
    background-image: url('../foto/far-de-fusta-primitiu.jpg');
    background-position: center center;
}
#foto2-4text{
    color: #6684A4;
    position: absolute;
    top: -70%;
}
#foto2-4text p{
    color: #6684A4;
    padding: 25px;
    line-height: initial;
}
#foto2-5{
    top: -100%;
    left: 0;
    background-image: url('../foto/Diario_de_Tarragona-12-01-1861.jpg');
    background-position: center center;
}
#foto2-5text{
    color: #6684A4;
    position: absolute;
    top: -70%;
}
#foto2-5text h3{
    color: #6684A4;
    line-height: initial;
}
#foto2-5peu{
    color: #6684A4;
}
#apartat3{display: none;}
#foto3-1{
    top: 0;
    left: -100%;
    background-image: url('../foto/Planol_01X.jpg');
    background-position: center center;
}
#foto3-1text{
    position: absolute;
    top: 155%;
}
#foto3-1text h2{
    color: white;
    padding: 20px;
    text-transform: uppercase;
    font-weight: 600;
}
#foto3-1peu{
    left: 0;
    bottom: -50%;
    color: #F58431;
}
#foto3-2{
    top: 100%;
    background-image: url('../foto/Planol_02X.jpg');
    background-position: center center;
}
#foto3-2text{
    position: absolute;
    top: -180%;
}
#foto3-2text h3{
    color: #F58431;
    font-size: 1.4vw;
}
#foto3-2peu #play3-2{
    position: relative;
    left: 0;
}
#foto3-2peu p{
    position: relative;
    left: -300px;
    color: #F58431;
    font-size: 0.85vw;
}
#foto3-4{
    top: 100%;
    background-image: url('../foto/_MG_9174.jpg');
    background-position: center center;
}
#foto3-4text{
    position: absolute;
    top: -185%;
}
#foto3-4text h3{
    position: relative;
    top: -300px;
    color: #F58431;
}
#play3-4{
    position: relative;
    top: 0;
}
#foto3-5{
    top: 100%;
    left: 0;
}
#foto3-5text{
    position: absolute;
    top: -185%;
}
#foto3-5text h3{
    color: white;
}
#foto3-5 img{
    position: absolute;
    top: -180%;
    left: -180%;
    height: 70vh;
}
#apartat4{display: none;}
#foto4-1{
    top: 0;
    left: 100%;
}
#foto4-1text{
    position: absolute;
    top: 120%;
}
#foto4-1text h2{
    color: white;
    font-size: 5vw;
}
#foto4-1 img{
    margin-top: 15vh;
    margin-right: 5vw;
    height: 70vh;
    opacity: 1;
}
#foto4-2text{
    position: absolute;
    top: 115%;
}
#foto4-2text h2{
    position: relative;
    top: 0;
    color: #F15D42;
    padding: 15px;
    text-transform: uppercase;
}
#foto4-2text p{
    position: relative;
    top: 300px;
    color: #F15D42;
    padding: 15px;
    font-size: 1.1vw;
    margin-top: 10px;
}
#play4-2{
    position: relative;
    top: 300px;
}
#foto4-2foto{
    position: absolute;
    top: -100%;
    left: 200%;
    height: 70vh;
}
#foto4-3{
    top: -100%;
    background-image: url('../foto/Reforma-Puerta-del-Sol-Madrid-1862.jpg');
    background-position: center center;
}
#foto4-3text{
    position: absolute;
    bottom: -215%;
}
#foto4-3text p{
    color: white;
    padding: 15px;
}