#foto1-1{
    top: 100%;
    background-image: url('../foto/3Foto_Seguint-tot-lEbre.jpg');
    background-position: center center;
}
#foto1-1text{
    position: absolute;
    top: -150%;
}
#foto1-1text h2{
    color: white;
    padding: 30px;
    font-size: 4vw;
    text-transform: uppercase;
    font-weight: 600;
    line-height: initial;
}
#foto1-2{
    top: 100%;
    background-image: url('../foto/PLANOL_GOLAS_DEL_EBRO_1883_BNE.jpg');
}
#foto1-2text{
    position: absolute;
    top: -185%;
}
#foto1-2text p{
    position: relative;
    top: -300px;
    color: white;
    padding: 15px;
}
#foto1-2text h2{
    position: relative;
    top: 0;
    color: white;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: initial;
}
#foto1-2text2{
    position: absolute;
    top: -185%;
}
#foto1-2text2 h3{
    color: white;
    font-weight: 600;
    line-height: initial;
}
#foto1-2text3{
    position: absolute;
    top: -185%;
}
#foto1-2text3 h3{
    color: black;
    font-weight: 600;
    line-height: initial;
}
#foto1-3{
    top: 100%;
    background-image: url('../foto/PLANOL-PROV-TARRAGONA_1853_BNE.jpg');
}
#foto1-3text{
    position: absolute;
    top: -178%;
}
#foto1-3text p{
    position: relative;
    top: -300px;
    color: white;
    padding: 15px;
}
#foto1-3peu{
    color: black;
}
#play1-3{
    position: relative;
    top: 0px;
    z-index: 5;
}
#apartat2{display: none;}
#foto2-1{
    top: -100%;
    background-image: url('../foto/Planol_03.jpg');
    background-position: center center;
}
#foto2-1text{
    position: absolute;
    top: -50%;
}
#foto2-1text h2{
    color: white;
    padding: 20px;
    text-transform: uppercase;
    font-weight: 600;
}
#foto2-1peu{
    color: #6684A4;
}
#foto2-2{
    top: 0;
    background-image: url('../foto/Planol_03-2.jpg');
    background-position: center center;
    opacity: 0;
}
#foto2-2text{
    position: absolute;
    bottom: 108%;
}
#foto2-2text p{
    color: #6684A4;
    padding: 25px;
    line-height: initial;
}
#foto2-2peu{
    color: white;
    left: 0;
    opacity: 0;
}
#foto2-3{
    top: -100%;
    background-image: url('../foto/PLANOL_GOLAS_DEL_EBRO_1883_BNE.jpg');
    background-position: center center;
}
#foto2-3text{
    position: absolute;
    bottom: 108%;
}
#foto2-3text p{
    color: white;
    padding: 25px;
    line-height: initial;
}
#foto2-3peu{
    color: black;
}
#foto2-4{
    top: -100%;
    background-image: url('../foto/far-de-fusta-primitiu.jpg');
    background-position: center center;
}
#foto2-4text{
    color: #6684A4;
    position: absolute;
    top: -70%;
}
#foto2-4text p{
    color: #6684A4;
    padding: 25px;
    line-height: initial;
}
#foto2-5{
    top: -100%;
    left: 0;
    background-image: url('../foto/Diario_de_Tarragona-12-01-1861.jpg');
    background-position: center center;
}
#foto2-5text{
    color: #6684A4;
    position: absolute;
    top: -70%;
}
#foto2-5text h3{
    position: relative;
    top: -300px;
    color: #6684A4;
    line-height: initial;
}
#foto2-5boto{
    position: relative;
    top: 0;
}
#foto2-5peu{
    color: #6684A4;
}
#apartat3{display: none;}
#foto3-1{
    top: 0;
    left: -100%;
    background-image: url('../foto/Planol_01X.jpg');
    background-position: center center;
}
#foto3-1text{
    position: absolute;
    top: 155%;
}
#foto3-1text h2{
    color: white;
    padding: 20px;
    text-transform: uppercase;
    font-weight: 600;
}
#foto3-1peu{
    left: 0;
    bottom: -50%;
    color: #F58431;
}
#foto3-2{
    top: 100%;
    background-image: url('../foto/Planol_02X.jpg');
    background-position: center center;
}
#foto3-2text{
    position: absolute;
    top: -180%;
}
#foto3-2text h3{
    color: #F58431;
    font-size: 1.4vw;
}
#foto3-2peu #play3-2{
    position: relative;
    left: 0;
}
#foto3-2peu p{
    position: relative;
    left: -300px;
    color: #F58431;
    font-size: 0.85vw;
}
#foto3-3{
    top: 100%;
}
#foto3-4{
    top: 100%;
    left: 0;
    background-image: url('../foto/_MG_9174.jpg');
    background-position: center center;
}
#foto3-4text{
    position: absolute;
    top: -185%;
}
#foto3-4text h3{
    position: relative;
    top: -300px;
    color: #F58431;
}
#play3-4{
    position: relative;
    top: 0;
}
#apartat4{display: none;}
#foto4-1{
    top: 0;
    left: 100%;
}
#foto4-1text{
    position: absolute;
    top: 120%;
}
#foto4-1text h2{
    color: white;
    font-size: 5vw;
}
#foto4-1 img{
    margin-top: 15vh;
    margin-right: 5vw;
    height: 70vh;
    opacity: 1;
}
#foto4-2text{
    position: absolute;
    top: 115%;
}
#foto4-2text h2{
    position: relative;
    top: 0;
    color: #F15D42;
    padding: 15px;
    text-transform: uppercase;
}
#foto4-2text p{
    position: relative;
    top: 300px;
    color: #F15D42;
    padding: 15px;
    font-size: 1.1vw;
    margin-top: 10px;
}
#play4-2{
    position: relative;
    top: 300px;
}
#foto4-2foto{
    position: absolute;
    top: -100%;
    left: 200%;
    height: 70vh;
}
#foto4-3{
    top: -100%;
    background-image: url('../foto/Reforma-Puerta-del-Sol-Madrid-1862.jpg');
    background-position: center center;
}
#foto4-3text{
    position: absolute;
    bottom: -215%;
}
#foto4-3text p{
    color: white;
    padding: 15px;
}
#foto4-4{
    top: -100%;
    background-image: url('../foto/DSC_0989.jpg');
    background-position: center center;
}
#foto4-4text{
    position: absolute;
    top: 215%;
}
#foto4-4text p{
    position: relative;
    top: 0;
    color: #F15D42;
    padding: 15px;
}
.play4{    
    position: relative;
    top: 300px;
}
#foto4-4text span{
    cursor: pointer;
}
#mesinfo{
    position: absolute;
    z-index: 10000;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
}
#mesinfo #contingutmesinfo{
    width: 80%;
    height: 80%;
    margin-top: 80px;
    background-color: white;
    overflow-y: scroll;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: url('../img/background.jpg');
}
#contingutmesinfo h3{
    font-family: 'Annie Use Your Telescope', cursive;
    font-weight: 600;
    font-size: 3rem;
}
#apartat5{display: none;}
#foto5-1{
    top: -100%;
    background-image: url('../foto/Puente-ac.jpg');
    background-position: center center;
}
#foto5-1text{
    position: absolute;
    top: 225%;
}
#foto5-1text p{
    position: relative;
    top: 0;
    color: white;
    padding: 25px;
}
#foto5-1text h2{
    position: relative;
    top: 300px;
    color: white;
    padding: 25px;
    text-transform: uppercase;
}
#foto5-2{
    top: -100%;
    background-image: url('../foto/planols_fars.jpg');
    background-position: center center;
}
#foto5-2text{
    position: absolute;
    top: 240%;
}
#foto5-2text p{
    position: relative;
    top: 0;
    color: white;
    padding: 25px;
}
#foto5-2boto{
    position: relative;
    top: 300px;
}
#foto5-2peu{
    color: black;
}
#foto5-3{
    top: -100%;
    background-image: url('../foto/foto_apartat_5-3.jpg');
    background-position: center center;
}
#foto5-3text{
    position: absolute;
    top: 215%;
}
#foto5-3text h3{
    color: white;
}
#foto5-4{
    top: -100%;
    background-image: url('../foto/foto_apartat_5-4.jpg');
    background-position: center center;
}
#foto5-4text{
    position: absolute;
    top: 215%;
}
#foto5-4text h3{
    position: relative;
    top: 0;
    color: #888D57;
}
#foto5-4boto1{
    position: relative;
    top: 300px;
}
#foto5-4boto2{
    position: relative;
    top: 300px;
}
#foto5-4peu{
    color: #888D57;
}
#foto5-5{
    top: 0;
    background-image: url('../foto/foto_apartat_5-5.jpg');
    background-position: center center;
    opacity: 0;
    display: none;
}
#foto5-5text{
    position: absolute;
    top: 115%;
}
#foto5-5text p{
    position: relative;
    top: 0;
    color: #888D57;
    padding: 20px;
}
#foto5-5boto{
    position: relative;
    top: 300px;
}
#apartat6{display: none;}
#foto6-1{
    top: 0;
    background-image: url('../foto/Europa-finals-segle-XIX.jpg');
    background-position: center center;
    left: 100%;
}
#foto6-1text{
    position: absolute;
    top: -80%;
}
#foto6-1text h2{
    color: white;
    padding: 20px;
}
#foto6-2{
    background-image: url('../foto/Europa-finals-segle-XIX-groc.jpg');
    background-position: center center;
    left: 0;
    top: 0;
    opacity: 0;
}
#foto6-2text{
    position: absolute;
    top: -80%;
}
#foto6-2text p{
    color: #CBA01A;
    padding: 20px;
    font-size: 1.3vw;
}
#foto6-3{
    background-image: url('../foto/Birmingham_in_1886.jpg');
    background-position: center center;
    top: 100%;
}
#foto6-3text{
    position: absolute;
    top: -190%;
}
#foto6-3text h3{
    color: white;
    font-size: 2vw;
}
#foto6-4{
    top: 100%;
}
#foto6-4peu{
    padding: 15px;
}
#foto6-5{
    background-image: url('../foto/_MG_9756.jpg');
    background-position: center center;
    top: 100%;
}
#foto6-5text{
    position: absolute;
    top: -180%;
}
#foto6-5text p{
    position: relative;
    top: -300px;
    padding: 25px;
    color: white;
    font-size: 1.3vw;
}
#foto6-5boto{
    position: relative;
    top: 0;
}
#foto6-5peu{
    color: white;
    padding: 10px;
}
#foto6-6{
    background-image: url('../foto/_MG_9797.jpg');
    background-position: center center;
    top: 100%;
}
#foto6-6text{
    position: absolute;
    top: -185%;
}
#foto6-6text h3{
    padding: 25px;
    color: white;
}
#foto6-7{
    top: 100%;
}
#foto6-71{
    background-image: url('../foto/Planol_05.jpg');
    background-position: center center;
}
#foto6-72{
    background-image: url('../foto/Planol_05.jpg');
    background-position: center center;
    left: 100%;
}
#foto6-7text{
    position: absolute;
    top: -170%;
}
#foto6-7text p{
    padding: 25px;
    color: white;
}
#foto6-7peu{
    color: #CBA01A;
    left: 105%;
}
#foto6-8{
    background-image: url('../foto/foto_apartat_6_8.jpg');
    background-position: center center;
    top: 100%;
}
#foto6-8text{
    position: absolute;
    top: -180%;
}
#foto6-8text h3{
    position: relative;
    top: -300px;
    color: white;
}
#foto6-8boto1{
    position: relative;
    top: -300px;
}
#foto6-8boto3{
    position: relative;
    top: 0;
}
#foto6-8peu{
    color: white;
    left: 105%;
}
.vertical div img{
    width: auto !important;
}
.foto img{
    height: 90vh;
}
#foto6-9{
    background-image: url('../foto/foto_apartat_6_9.jpg');
    background-position: center center;
    top: 100%;
}
#foto6-9text{
    position: absolute;
    top: -175%;
}
#foto6-9text p{
    position: relative;
    padding: 25px;
    top: -300px;
    color: white;
}
#foto6-9boto{
    position: relative;
    top: 0;
}
#foto6-9peu{
    color: white;
    left: 105%;
}
#apartat7{display: none;}
#foto7-1{
    top: 0;
    left: -100%;
}
#foto7-1text{
    position: absolute;
    top: -180%;
}
#foto7-1text p{
    position: relative;
    top: -300px;
    color: white;
    padding: 25px;
}
#foto7-1text h2{
    position: relative;
    top: 0;
    color: white;
    padding: 25px;
    text-transform: uppercase;
}
#foto7-2{
    top: 0;
}
#foto7-2text{
    position: absolute;
    top: -80%;
}
#foto7-2text p{
    color: white;
    padding: 25px;
}
#foto7-3{
    top: -100%;
    /* background-image: url('../foto/Europa_segle-XIX.jpg'); */
    background-position: center center;
}
#foto7-3 img{
    margin-top: 10vh;
    max-height: 80vh;
}
#foto7-3text{
    position: absolute;
    top: -70%;
}
#foto7-3text p{
    color: white;
    font-size: xx-large;
}
#foto7-4{
    top: -100%;
    background-image: url('../foto/foto_apartat_7_4.jpg');
    background-position: center center;
}
#foto7-4text{
    position: absolute;
    top: -80%;
}
#foto7-4text p{
    color: #6684A4;
    padding: 25px;
    font-size: 1.3vw;
}
#foto7-5{
    top: -100%;
    background-image: url('../foto/foto_apartat_7_5.jpg');
    background-position: center center;
}
#foto7-5text{
    position: absolute;
    top: -80%;
}
#foto7-5text p{
    position: relative;
    top: -300px;
    color: white;
    padding: 25px;
    font-size: 1.5vw;
}
#foto7-5boto{
    position: relative;
    top: 0;
}
#foto7-6{
    top: -100%;
    background-image: url('../foto/foto_apartat_7_6.jpg');
    background-position: center center;
}
#foto7-6text{
    position: absolute;
    top: -80%;
}
#foto7-6text p{
    position: relative;
    top: -300px;
    color: white;
    padding: 25px;
}
#foto7-6text h2{
    position: relative;
    top: 0;
    color: white;
    padding: 25px;
    text-transform: uppercase;
}
#foto7-7{
    opacity: 0;
    background-image: url('../foto/foto_apartat_7_7.jpg');
    background-position: center center;
    display: none;
}
#foto7-7text{
    position: absolute;
    top: -90%;
}
#foto7-7text p{
    position: relative;
    top: -300px;
    color: white;
    font-size: 1.6vw;
}
#foto7-7boto{
    position: relative;
    top: 0;
}
#foto7-8{
    opacity: 0;
    top: 0;
    background-image: url('../foto/foto_apartat_7_8.jpg');
    background-position: center center;
    display: none;
}
#foto7-8text{
    position: absolute;
    top: -70%;
}
#foto7-8text p{
    position: relative;
    top: -300px;
    color: white;
    padding: 25px;
    font-size: 1.2vw;
}
#foto7-8boto{
    position: relative;
    top: 0;
}
#foto7-9{
    top: -100%;
    background-image: url('../foto/foto_apartat_7_9.jpg');
    background-position: center center;
}
#foto7-9text{
    position: absolute;
    top: -70%;
}
#foto7-9text p{
    position: relative;
    top: -300px;
    color: white;
    padding: 25px;
    font-size: 1.1vw;
}
#foto7-9boto1{
    position: relative;
    top: -300px;
}
#foto7-9boto2{
    position: relative;
    top: 0;
}
#apartat20{display: none;}
#foto20-1{
    top: 0;
    background-image: url('../foto/PLANOL-PROV-TARRAGONA_1853_BNE_verd.jpg');
    background-position: center center;
    opacity: 0;
}
#foto20-1text{
    position: absolute;
    top: -70%;
}
#foto20-1text h2{
    position: relative;
    top: 0;
    color: white;
    padding: 20px;
    text-transform: uppercase;
    font-weight: 600;
}
#foto20-1text p{
    position: relative;
    top: -300px;
    color: white;
    padding: 20px;
    font-size: 1.4vw;
}
#foto20-1peu{
    color: black;
}
#foto20-2{
    top: 0;
    background-image: url('../foto/PLANOL-PROV-TARRAGONA_1853_BNE_verd2.jpg');
    background-position: center center;
    opacity: 0;
}
#foto20-2text{
    position: absolute;
    top: -75%;
}
#foto20-2text p{
    position: relative;
    top: -300px;
    color: white;
    padding: 20px;
}
#foto20-2boto{
    position: relative;
    top: 0;
}
#foto20-2text2{
    position: absolute;
    top: -75%;
}
#foto20-2text2 p{
    color: white;
    padding: 20px;
    font-size: 1.4vw;
}
#foto20-3{
    top: -100%;
    background-image: url('../foto/tarragona.jpg');
    background-position: center center;
}
#foto20-3text{
    position: absolute;
    top: -60%;
}
#foto20-3text h2{
    position: relative;
    top: 0;
    color: white;
    padding: 20px;
    text-transform: uppercase;
    font-weight: 600;
}
#foto20-3text p{
    position: relative;
    top: -300px;
    color: white;
    padding: 20px;
    font-size: 1.3vw;
}
#foto20-3peu{
    color: white;
}
#foto20-4{
    top: 0;
    background-image: url('../foto/tarragona2.jpg');
    background-position: center center;
    opacity: 0;
    display: none;
}
#foto20-4text{
    position: absolute;
    top: -60%;
}
#foto20-4text p{
    color: white;
    padding: 20px;
    font-size: 1.3vw;
}
#apartat8{display: none;}
#foto8-1{
    top: -100%;
    background-image: url('../foto/SaP_584_08.jpg');
    background-position: center center;
}
#foto8-1text{
    position: absolute;
    top: -65%;
}
#foto8-1text h2{
    position: relative;
    top: -300px;
    color: white;
    padding: 25px;
    font-weight: 600;
    text-transform: uppercase;
}
#foto8-2{
    top: 100%;
    background-image: url('../foto/foto_apartat_8_2.jpg');
    background-position: center center;
}
#foto8-2text{
    position: absolute;
    top: -180%;
}
#foto8-2text p{
    position: relative;
    top: -300px;
    color: white;
    font-weight: 600;
    font-size: 2vw;
}
#foto8-2boto1{
    position: relative;
    top: -300px;
}
#foto8-2boto2{
    position: relative;
    top: 0;
}
#foto8-3{
    top: 0;
    opacity: 0;
    display: none;
}
#foto8-3text{
    position: absolute;
    top: -180%;
}
#foto8-3text p{
    position: relative;
    top: -300px;
    color: white;
    font-weight: 600;
    font-size: 2vw;
}
#foto8-3boto{
    position: relative;
    top: 0;
}
#foto8-3fotos{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    z-index: -5;
}
#foto8-4{
    top: 100%;
    background-image: url('../foto/foto_apartat_8_4.jpg');
    background-position: center center;
}
#foto8-4text{
    position: absolute;
    top: -180%;
}
#foto8-4text p{
    position: relative;
    top: -300px;
    color: #B55E43;
    font-size: 1.15vw;
    padding: 25px;
}
#foto8-4boto2{
    position: relative;
    top: 0;
}
#foto8-4peu{
    color: black;
}
#foto8-5{
    top: 0;
    left: 100%;
    background-image: url('../foto/foto_apartat_8_5.jpg');
    background-position: center center;
}
#foto8-6{
    top: 0;
    left: 100%;
    background-image: url('../foto/foto_apartat_8_6.jpg');
    background-position: center center;
}
#foto8-7{
    top: 0;
    left: 100%;
    background-image: url('../foto/foto_apartat_8_7.jpg');
    background-position: center center;
}
#foto8-8{
    top: 0;
    left: 100%;
    background-image: url('../foto/foto_apartat_8_8.jpg');
    background-position: center center;
}
#foto8-9{
    top: 100%;
}
#foto8-9text{
    position: absolute;
    top: 120%;
}
#foto8-9text p{
    position: relative;
    top: 0;
    color: white;
    padding: 15px;
}
#foto8-9boto1{
    top: 300px;
    position: relative;
}
#foto8-9boto2{
    top: 300px;
    position: relative;
}
#foto8-9foto1 img{
    margin-top: 15vh;
    height: auto !important;
}
#foto8-10{
    top: 100%;
}
#foto8-10text{
    position: absolute;
    top: 120%;
}
#foto8-10text p{
    position: relative;
    top: 0;
    color: white;
    padding: 15px;
}
#foto8-10boto1{
    top: 300px;
    position: relative;
}
#foto8-10boto2{
    top: 300px;
    position: relative;
}
#foto8-10boto3{
    top: 300px;
    position: relative;
}
#foto8-11{
    top: 100%;
}
#foto8-11text{
    position: absolute;
    top: 135%;
}
#foto8-11text p{
    position: relative;
    top: 0;
    color: white;
    padding: 15px;
}
#foto8-11boto1{
    top: 300px;
    position: relative;
}
#foto8-11boto2{
    top: 300px;
    position: relative;
}
#foto8-12{
    top: 100%;
    background-image: url('../foto/foto_apartat_8_12.jpg');
    background-position: center center;
}
#foto8-12text{
    position: absolute;
    top: -190%;
}
#foto8-12text p{
    position: relative;
    top: -300px;
    color: #B55E43;
    font-size: 1.15vw;
    padding: 25px;
}
#foto8-12boto{
    position: relative;
    top: 0;
}
#foto8-12peu{
    color: white;
}
#foto8-12foto img{
    margin-top: 15vh;
    height: auto !important;
}
#foto8-13{
    top: 100%;
    background-image: url('../foto/foto_apartat_8_13.jpg');
    background-position: center center;
}
#foto8-13text{
    position: absolute;
    top: -190%;
}
#foto8-13text p{
    color: #B55E43;
    font-size: 1.15vw;
    padding: 25px;
}
#foto8-14{
    top: 100%;
    background-image: url('../foto/foto_apartat_8_14.jpg');
    background-position: center center;
}
#foto8-14text{
    position: absolute;
    top: -180%;
}
#foto8-14text p{
    position: relative;
    top: 0;
    color: white;
    font-size: 1.15vw;
    padding: 25px;
}
#foto8-14boto{
    position: relative;
    top: -300px;
}
#foto8-14peu{
    color: black;
}
#foto8-15{
    top: 100%;
    left: 0;
}
#foto8-15text{
    position: absolute;
    top: 130%;
}
#foto8-15text p{
    position: relative;
    top: 0;
    color: white;
    padding: 15px;
}
#foto8-15boto{
    top: 300px;
    position: relative;
}
#apartat9{display: none;}
#foto9-1{
    top: 0;
    left: -100%;
    background-image: url('../foto/foto_apartat_9_1.jpg');
    background-position: center center;
}
#foto9-1text{
    position: absolute;
    top: -85%;
}
#foto9-1text h2{
    color: white;
    padding: 25px;
    font-weight: 600;
    text-transform: uppercase;
}
#foto9-2{
    top: -100%;
    background-image: url('../foto/foto_apartat_9_2.jpg');
    background-position: center center;
}
#foto9-2text{
    position: absolute;
    top: 215%;
}
#foto9-2text p{
    color: white;
    padding: 25px;
    font-size: 1.3vw;
}
#foto9-2 .tapa{
    opacity: 0;
}
#foto9-2fotos{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -5;
}
#foto9-3{
    top: -100%;
    background-image: url('../foto/foto_apartat_9_3.jpg');
    background-position: center center;
}
#foto9-3text1{
    position: absolute;
    top: 215%;
}
#foto9-3text1 p{
    color: #888D57;
    padding: 25px;
    font-size: 1.3vw;
}
#foto9-3text2{
    position: absolute;
    top: 215%;
}
#foto9-3text2 p{
    color: #888D57;
    padding: 25px;
    font-size: 1.3vw;
}
#foto9-3text3{
    position: absolute;
    top: 230%;
}
#foto9-3text3 p{
    color: white;
    padding: 25px;
    font-size: 1.3vw;
}
#foto9-4{
    top: -100%;
    background-image: url('../foto/foto_apartat_9_4.jpg');
    background-position: center center;
}
#foto9-4text{
    position: absolute;
    top: 215%;
}
#foto9-4text p{
    color: white;
    font-size: 1.8vw;
    font-weight: 600;
}
#foto9-5{
    top: -100%;
    background-image: url('../foto/foto_apartat_9_5.jpg');
    background-position: center center;
}
#foto9-5text{
    position: absolute;
    top: 210%;
}
#foto9-5textos{
    position: relative;
    top: 0;
}
#foto9-5text p{
    color: white;
    padding: 25px;
    font-size: 1.2vw;
}
#foto9-5boto{
    position: relative;
    top: 300px;
}
#foto9-6{
    top: -100%;
}
#foto9-6text{
    position: absolute;
    top: 235%;
}
#foto9-6text p{
    color: white;
    font-size: 1.8vw;
}
#foto9-6fotos{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -5;
}
#foto9-7{
    top: -100%;
    background-image: url('../foto/foto_apartat_9_7.jpg');
    background-position: center center;
}
#foto9-7text{
    position: absolute;
    top: 220%;
}
#foto9-7text p{
    color: white;
    padding: 25px;
    font-size: 1.3vw;
}
#foto9-7 .tapa{
    opacity: 0;
}
#foto9-7fotos{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -5;
}
#foto9-7text2{
    position: absolute;
    top: 220%;
}
#foto9-7text2 p{
    color: #888D57;
    padding: 25px;
    font-size: 1.3vw;
}
#apartat10{display: none;}
#foto10-1{
    top: 100%;
    background-image: url('../foto/3Foto_Seguint-tot-lEbre.jpg');
    background-position: center center;
}
#foto10-1text{
    position: absolute;
    top: -170%;
}
#foto10-1text h2{
    color: white;
    padding: 25px;
    font-weight: 600;
    text-transform: uppercase;
}
#foto10-1 .tapa{
    opacity: 0;
}
#foto10-1peu{
    padding: 10px;
    color: black;
    z-index: 11;
}
#foto10-1video{
    position: absolute;
    display: block;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    top: -200%;
}
#foto10-1video video{
    display: block;
    height: 100vh;
    margin-right: auto;
    margin-left: auto;
}
#foto10-2{
    top: 100%;
    background-image: url('../foto/far_ferro_enfonsat_Parra.jpg');
    background-position: center center;
}
#foto10-2text{
    position: absolute;
    top: -170%;
}
#foto10-2text p{
    color: #CBA01A;
    font-size: 1.6vw;
}
#foto10-2peu{
    left: 50%;
}
#foto10-3{
    top: 100%;
    background-image: url('../foto/IMG009PNDE.jpg');
    background-position: center center;
}
#foto10-3text{
    position: absolute;
    top: -185%;
}
#foto10-3text p{
    position: relative;
    top: -300px;
    color: white;
    padding: 25px;
}
#foto10-3boto1{
    position: relative;
    top: -300px;
    left: -5vw
}
#foto10-3boto2{
    position: relative;
    top: 0;
}
#foto10-3peu{
    left: 50%;
}
#foto10-4{
    top: 100%;
    background-image: url('../foto/_MG_9257-gran.jpg');
    background-position: center center;
}
#foto10-4text{
    position: absolute;
    top: -185%;
}
#foto10-4text p{
    position: relative;
    top: -300px;
    color: white;
    padding: 25px;
}
#foto10-4boto{
    position: relative;
    top: 0;
    left: -5vw
}
#foto10-4peu{
    left: 50%;
}
#foto10-5{
    top: 100%;
    background-image: url('../foto/Foto-excursio-al-Far_llibre-fotos-Amposta-1996.jpg');
    background-position: center center;
}
#foto10-5text{
    position: absolute;
    top: -170%;
}
#foto10-5text p{
    color: white;
    padding: 25px;
}
#foto10-5peu{
    padding: 10px;
}
#foto10-6{
    top: 100%;
    background-image: url('../foto/DIAPO.jpg');
    background-position: center center;
}
#foto10-6 .tapa{
    top: 0;
    left: 0;
    opacity: .5;
}
#foto10-6text{
    position: absolute;
    top: -165%;
}
#foto10-6text p{
    position: relative;
    top: -300px;
    color: #CBA01A;
    padding: 25px;
}
#foto10-6boto{
    position: relative;
    top: 0;
    left: -5vw
}
#foto10-6peu{
    left: 50%;
    color: black;
}
#foto10-6video{
    position: absolute;
    display: block;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    top: -200%;
}
#foto10-6video video{
    display: block;
    height: 100vh;
    margin-right: auto;
    margin-left: auto;
}
#foto10-6videopeu{
    padding: 10px;
    color: black;
    z-index: 11;
}
#apartat11{display: none;}
#foto11-1{
    top: -100%;
    background-image: url('../foto/far_ferro_enfonsat_Parra.jpg');
    background-position: center center;
}
#foto11-1text{
    position: absolute;
    top: 245%;
}
#foto11-1text h2{
    color: white;
    padding: 25px;
    font-weight: 600;
    text-transform: uppercase;
}
#foto11-2{
    top: -100%;
    background-image: url('../foto/IMG_4147.jpg');
    background-position: center center;
}
#foto11-2text{
    position: absolute;
    top: 210%;
}
#foto11-2text p{
    position: relative;
    top: 0;
    color: #668080;
    padding: 25px;
}
#foto11-2boto1{
    position: relative;
    top: 300px;
}
#foto11-2boto2{
    position: relative;
    top: 300px;
}
#foto11-2boto3{
    position: relative;
    top: 300px;
}
#foto11-2boto4{
    position: relative;
    top: 300px;
}
#foto11-2 .tapa{
    top: 0;
    left: 0;
    opacity: 0;
}
#foto11-2video{
    position: absolute;
    display: block;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    top: 200%;
}
#foto11-2video video{
    display: block;
    height: 100vh;
    margin-right: auto;
    margin-left: auto;
}
#foto11-2videopeu{
    padding: 10px;
    color: black;
    z-index: 11;
}
#foto11-3{
    top: -100%;
    background-image: url('../foto/IMG_4167.jpg');
    background-position: center center;
}
#foto11-3text{
    position: absolute;
    top: 215%;
}
#foto11-3text p{
    color: white;
}
#foto11-3text p i{
    font-size: 1.6vw;
}
#foto11-4{
    top: -100%;
    background-image: url('../foto/LVG19620114-009_ElegiaFarodeBuda_SJ Arbo.jpg');
    background-position: center center;
}
#foto11-4text{
    position: absolute;
    top: 220%;
}
#foto11-4text p{
    color: white;
    padding: 25px;
}
#apartat12{display: none;}
#foto11-5{
    top: -100%;
    background-image: url('../foto/RestesferroFaralfonsdelmar3.jpg');
    background-position: center center;
}
#foto11-5text{
    position: absolute;
    top: 215%;
}
#foto11-5text h2{
    position: relative;
    top: 0;
    color: white;
    padding: 25px;
}
#foto11-5text p{
    position: relative;
    top: 300px;
    color: white;
    padding: 25px;
}
#foto11-5boto{
    position: relative;
    top: 300px;
}
#foto11-5fotos .slick-slide img{
    height: 100%;
    width: auto !important;
}
#foto11-6{
    top: -100%;
    background-image: url('../foto/Fotosub624.jpg');
    background-position: center center;
}
#foto11-6text{
    position: absolute;
    top: 215%;
}
#foto11-6text p{
    position: relative;
    top: 0;
    color: #668080;
    padding: 25px;
}
#foto11-6boto{
    position: relative;
    top: 300px;
    left: -5vw;
}
#foto11-6fotos .slick-slide img{
    height: 100%;
    width: auto !important;
}
#foto11-7{
    top: -100%;
    background-image: url('../foto/foto_apartat_11_7.jpg');
    background-position: center center;
}
#foto11-7text{
    position: absolute;
    top: 215%;
}
#foto11-7text p{
    position: relative;
    top: 0;
    color: white;
    padding: 25px;
}
#foto11-7boto{
    position: relative;
    top: 300px;
    left: -5vw;
}
#foto11-7fotos .slick-slide img{
    height: 100%;
    width: auto !important;
}
#foto11-8{
    top: -100%;
}
#apartat13{display: none;}
#foto13-1{
    top: -100%;
    background-image: url('../foto/RFSACE.9339.jpg');
    background-position: center center;
}
#foto13-1text{
    position: absolute;
    top: 220%;
}
#foto13-1text h2{
    color: white;
    padding: 25px;
    font-weight: 600;
    text-transform: uppercase;
}
#foto13-2{
    top: -100%;
    background-image: url('../foto/muntatge_far_obra_Parra_02-copia.jpg');
    background-position: center center;
}
#foto13-2text{
    position: absolute;
    top: 215%;
}
#foto13-2text p{
    color: white;
    font-weight: 600;
    font-size: 2.1vw;
}
#foto13-2peu{
    left: 150%;
}
#foto13-2 .tapa{
    top: 0;
    left: 0;
    opacity: 0;
}
#foto13-2video{
    position: absolute;
    display: block;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    top: 200%;
}
#foto13-2video video{
    display: block;
    height: 100vh;
    margin-right: auto;
    margin-left: auto;
}
#foto13-2videopeu{
    padding: 10px;
    color: white;
    z-index: 11;
}
#foto13-3{
    top: -100%;
    background-image: url('../foto/muntatge_far_obra_Parra_01-copia.jpg');
    background-position: center center;
}
#foto13-3text{
    position: absolute;
    top: 220%;
}
#foto13-3text p{
    position: relative;
    color: white;
    padding: 15px;
    font-size: 1.6vw;
}
#foto13-3text p:first{
    top: 0;
}
#foto13-3text p:last{
    top: 300px;
}
#foto13-3boto{
    position: relative;
    top: 300px;
    margin-right: -5vw;
}
#foto13-3boto img{
    position: relative;
    left: -5vw;
}
#foto13-3peu{
    left: 150%;
}
#foto13-4{
    top: -100%;
    background-image: url('../foto/_MG_8118-gran.jpg');
    background-position: center center;
}
#foto13-4text{
    position: absolute;
    top: 215%;
}
#foto13-4text p{
    position: relative;
    top: 0;
    color: #B98031;
    font-size: 2.1vw;
}
#foto13-4boto{
    position: relative;
    top: 300px;
    margin-right: -5vw;
}
#foto13-4boto img{
    position: relative;
    left: -5vw;
}
#foto13-4peu{
    left: 150%;
    color: black;
}
#foto13-5{
    top: -100%;
    background-image: url('../foto/_MG_8122.jpg');
    background-position: center center;
}
#foto13-5text{
    position: absolute;
    top: 245%;
}
#foto13-5text p{
    position: relative;
    top: 0;
    color: white;
    font-size: 2.3vw;
}
#foto13-5boto{
    position: relative;
    top: 300px;
    margin-right: -5vw;
}
#foto13-5boto img{
    position: relative;
    left: -5vw;
}
#foto13-5peu{
    left: 150%;
}
#foto13-6{
    top: -100%;
    background-image: url('../foto/RFSACE.9338.jpg');
    background-position: center center;
}
#foto13-6peu{
    left: 150%;
}
#foto13-6peu div{
    position: relative;
    left: 0;
}
#foto13-6peu p{
    position: relative;
    left: 300px;
}
#foto13-7{
    top: -100%;
    background-image: url('../foto/_MG_8148.jpg');
    background-position: center center;
}
#foto13-7text{
    position: absolute;
    top: 235%;
}
#foto13-7text p{
    padding: 15px;
    color: white;
    font-size: 1.3vw;
}
#foto13-7peu{
    left: 150%;
}
#foto13-7text2{
    position: absolute;
    top: 235%;
}
#foto13-7text2 p{
    color: white;
    font-size: 2.1vw;
}
#foto13-8{
    top: -100%;
    background-image: url('../foto/IMG011PNDE.jpg');
    background-position: center center;
}
#foto13-8text{
    position: absolute;
    bottom: -180%;
}
#foto13-8text p{
    padding: 15px;
    color: white;
    font-size: 1.3vw;
}
#foto13-8peu{
    left: 150%;
}
#foto13-8botons{
    position: absolute;
    bottom: -185%;
}
#foto13-8boto1{
    position: relative;
    top: 0;
}
#foto13-8boto2{
    position: relative;
    top: 300px;
}
#foto13-8boto3{
    position: relative;
    top: 300px;
}
#foto13-8 .tapa{
    top: 0;
    left: 0;
    opacity: 0;
}
#foto13-8video{
    position: absolute;
    display: block;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    top: 200%;
}
#foto13-8video video{
    display: block;
    height: 100vh;
    margin-right: auto;
    margin-left: auto;
}
#foto13-8videopeu{
    padding: 10px;
    color: white;
    z-index: 11;
}
#foto13-9{
    top: -100%;
    left: 0;
}
#foto13-9text{
    position: absolute;
    top: 215%;
}
#foto13-9text p{
    color: white;
    font-size: 1.3vw;
    padding: 25px;
}
#foto13-9 video{
    height: 100vh;
}
#foto13-9text p:first{
    position: relative;
    top: 0;
}
#foto13-9text p:last{
    position: relative;
    top: 300px;
}
#foto13-9 .tapa{
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 0;
}
#foto13-9text2{
    position: absolute;
    top: 215%;
}
#foto13-9text2 p{
    color: #B98031;
    font-size: 1.3vw;
    padding: 25px;
}
#foto13-9videopeu{
    padding: 10px;
    color: white;
    z-index: 11;
}
#foto13-10{
    top: -100%;
    left: 0;
}
#foto13-10text{
    position: absolute;
    top: 230%;
}
#foto13-10text p{
    color: #B98031;
    font-size: 1.3vw;
    padding: 25px;
}
#foto13-10text p strong{
    font-size: 1.5vw;
}
#foto13-10 iframe{
    width: 100%;
    height: 490px;
}
#foto13-10text2{
    position: absolute;
    top: 230%;
}
#foto13-10text2 p{
    color: #B98031;
    font-size: 1.3vw;
    padding: 25px;
}