.container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
    z-index: -1;
}
.videopopup{
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0,0,0,.7);
}
.videopopup #videos{
    display: block;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    width: 55%;
}
#videos video{
    width: 95%;
}
#videos .groc{
    position: absolute;
    margin-left: -200px;
    margin-top: -100px;
    width: 240px;
    padding: 5px;
}
#videos .blau{
    padding: 5px;
    display: block;
    width: 30px;
    float: right;
    cursor: pointer;
}
#videos .blau img{
    height: 20px;
}
.scroll{
    position: absolute;
    width: 100vw;
    bottom: -10%;
    left: 43%;
    z-index: 0;
}
.scroll img{
    display: block;
    margin-right: auto;
    margin-bottom: auto;
}
#foto1-1{
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
    bottom: -100%;
    left: 0;
    z-index: -10;
    background-image: url('../foto/_MG_8112.jpg');
    background-size: cover;
    background-position: center center;
}
#foto1-1text{
    position: absolute;
    bottom: 150%;
    left: 100px;
    display: none;
}
#foto1-1text h2{
    position: relative;
    color: white;
    padding: 30px;
    font-size: 9rem;
    text-transform: uppercase;
    font-weight: 600;
    width: 86rem;
}
#foto1-1peu{
    position: absolute;
    color: white;
    width: 15%;
    left: 100px;
    bottom: -50%;
}
#foto1-2{
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
    bottom: -100%;
    left: 0;
    z-index: -10;
    background-image: url('../foto/buda-2-.jpg');
    background-size: cover;
    background-position: center center;
}
#foto1-2text{
    position: absolute;
    top: -150%;
    left: 100px;
    width: 35%;
}
#foto1-2text p{
    position: relative;
    color: white;
    padding: 30px;
    font-size: 2rem;
}
#foto1-2peu{
    position: absolute;
    color: white;
    width: 15%;
    left: -50%;
    bottom: 10px;
}
#foto1-3{
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
    bottom: -100%;
    left: 0;
    z-index: -10;
    background-image: url('../foto/Santi087.jpg');
    background-size: cover;
    background-position: center center;
}
#foto1-3text{
    position: absolute;
    top: -150%;
    right: 100px;
    width: 50%;
}
#foto1-3text img{
    width: 100%;
}
#foto1-3text p{
    color: #F58431;
    padding: 30px;
    font-size: 3rem;
    font-weight: 600;
}
#foto1-3peu{
    position: absolute;
    color: white;
    width: 15%;
    left: -50%;
    bottom: 10px;
}
#foto1-3b{
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
    bottom:0;
    left: -100%;
    z-index: -10;
    background-image: url('../foto/Santi141.jpg');
    background-size: cover;
    background-position: center center;
}
#foto1-4{
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
    bottom: -100%;
    left: 0;
    z-index: -10;
    background-image: url('../foto/Santi228.jpg');
    background-size: cover;
    background-position: center center;
}
#foto1-4text{
    position: absolute;
    top: -150%;
    right: 100px;
    width: 35%;
}
#foto1-4text p{
    color: #F58431;
    padding: 30px;
    font-size: 3rem;
    font-weight: 600;
}
#foto1-4peu{
    position: absolute;
    color: white;
    width: 15%;
    left: -50%;
    bottom: 10px;
}
#foto1-4b{
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
    bottom:0;
    left: -100%;
    z-index: -10;
    background-image: url('../foto/Santi148.jpg');
    background-size: cover;
    background-position: center center;
}
#foto1-4c{
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
    bottom:0;
    left: -100%;
    z-index: -10;
    background-image: url('../foto/Santi156.jpg');
    background-size: cover;
    background-position: center center;
}
#foto1-5{
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
    bottom: 100%;
    left: 0;
    z-index: -10;
    background-image: url('../foto/Santi163_taronga.jpg');
    background-size: cover;
    background-position: center center;
}
#foto1-5text{
    position: absolute;
    top: -150%;
    right: 100px;
    width: 35%;
}
#foto1-5text p{
    color: #F58431;
    padding: 30px;
    font-size: 1.8rem;
}
#foto1-5peu{
    position: absolute;
    color: #F58431;
    width: 15%;
    left: -50%;
    bottom: 10px;
}
#foto1-5b{
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
    bottom:0;
    left: -100%;
    z-index: -10;
    background-image: url('../foto/Santi065.jpg');
    background-size: cover;
    background-position: center center;
}
#foto1-6{
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
    bottom: 100%;
    left: 0;
    z-index: -10;
    background-image: url('../foto/Santi130.jpg');
    background-size: cover;
    background-position: center center;
}
#foto1-6text{
    position: absolute;
    top: -150%;
    right: 100px;
    width: 35%;
}
#foto1-6text p{
    color: white;
    padding: 30px;
    font-size: 1.8rem;
}
#foto1-6peu{
    position: absolute;
    color: white;
    width: 15%;
    left: -50%;
    bottom: 10px;
}
#foto1-7{
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
    bottom: 0;
    left: -100%;
    z-index: -10;
    background-image: url('../foto/Santi064_taronga.jpg');
    background-size: cover;
    background-position: center center;
}
#foto1-7peu{
    position: absolute;
    left: -50%;
    bottom: 10px;
    width: 250px;
}
#recull1-7{
    position: relative;
    margin-bottom: 10px;
    margin-left: 255px;
    z-index: 5;
    left: 0;
}
#recull1-7 img{
    background-color: rgba(102,168,200,.6);
}
#recull1-7 img:hover{
    background-color: #66A8C8;
    cursor: pointer;
}
#foto1-7peu p{
    position: relative;
    color: white;
    left: -300px;
    padding: 5px;
}
#recull1-7foto{
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0,0,0,.7);
    display: none;
}
#recull1-7fotozoom{
    display: block;
    height: 80vh;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}
#foto1-8{
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
    bottom: 100%;
    left: 0;
    z-index: -10;
    background-image: url('../foto/Santi081.jpg');
    background-size: cover;
    background-position: center center;
}
#foto1-8text{
    position: absolute;
    top: -150%;
    right: 100px;
    width: 35%;
}
#foto1-8text p{
    position: relative;
    top: 0;
    color: white;
    font-weight: 600;
    font-size: 2.6rem;
}
#foto1-8peu{
    position: absolute;
    left: -50%;
    bottom: 10px;
    color: white;
}
#recull1-8{
    position: relative;
    margin-bottom: 10px;
    margin-left: 190px;
    z-index: 5;
    left: 0;
    top: -300px;
}
#fotos1-8{
    position: relative;
    margin-bottom: 10px;
    margin-left: 95px;
    z-index: 5;
    left: 0;
    top: -300px;
}
#fotos1-8fotos{
    display: none;
    height: 100vh;
    width: 100%;
    position: absolute;
    background-color: rgba(0,0,0,.6);
    z-index: 5;
}
#fotos1-8fotos .blau{
    position: absolute;
    top: 10vh;
    right: 2.5vw;
    display: block;
    width: 30px;
    float: right;
    cursor: pointer;
    padding: 5px;
}
#fotos1-8fotos .blau img{
    height: 20px;
}
#fotos1-8fotos .groc{
    position: absolute;
    left: 3vw;
    top: 85vh;
    width: 240px;
    padding: 5px;
}
#fotos1-8slider{
    height: 80vh;
    width: 90vw;
    margin-left: 5vw;
    margin-top: 10vh;
}
#video1-8{
    position: relative;
    margin-bottom: 30px;
    z-index: 5;
    left: 0;
    top: -300px;
}
#foto1-8text img{
    background-color: rgba(245,132,49,.6);
}
#foto1-8text img:hover{
    background-color: #F58431;
    cursor: pointer;
}
#recull1-8foto{
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0,0,0,.7);
    display: none;
}
#recull1-8fotozoom{
    display: block;
    height: 80vh;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}
#foto1-9{
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
    bottom: 100%;
    left: 0;
    z-index: -10;
    background-image: url('../foto/Santi161.jpg');
    background-size: cover;
    background-position: center center;
}
#foto1-9text{
    position: absolute;
    top: -150%;
    right: 100px;
    width: 40%;
}
#foto1-9text p{
    color: white;
    padding: 30px;
    font-size: 1.8rem;
}
#foto1-9peu{
    position: absolute;
    color: white;
    width: 15%;
    left: -50%;
    bottom: 10px;
}
#foto1-9tapa{
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -10;
    opacity: 0;
}
#foto1-9 .f{
    position: absolute;
    z-index: -5;
    max-width: 45vw;
    max-height: 75vh;
    top: -80%;
    left: -80%;
    cursor: pointer;
}
#foto1-10{
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
    bottom: 100%;
    left: 0;
    z-index: -10;
    background-image: url('../foto/buda-46.jpg');
    background-size: cover;
    background-position: center center;
}
#foto1-10text{
    position: absolute;
    top: -50%;
    right: 100px;
    width: 35%;
}
#foto1-10text p{
    color: #F58431;
    font-size: 3.5rem;
    font-weight: 600;
}
#foto1-10peu{
    position: absolute;
    color: white;
    width: 15%;
    left: -50%;
    bottom: 10px;
}
#foto1-11{
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
    bottom: 100%;
    left: 0;
    z-index: -10;
    background-image: url('../foto/Santi032.jpg');
    background-size: cover;
    background-position: center center;
}
#foto1-11b{
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
    bottom: 0;
    left: -100%;
    z-index: -10;
    background-image: url('../foto/Santi030.jpg');
    background-size: cover;
    background-position: center center;
}
#foto1-11text{
    position: absolute;
    top: -50%;
    left: 100px;
    width: 35%;
}
#foto1-11text p{
    position: relative;
    top: -300px;
    color: white;
    font-size: 2rem;
    padding: 20px;
}
#foto1-11peu{
    position: absolute;
    color: white;
    width: 15%;
    left: -50%;
    bottom: 10px;
}
#foto1-11play{
    position: relative;
    margin-left: 100%;
    z-index: 5;
}
#foto1-11play img{
    background-color: rgba(238,196,27,.6);
    margin-right: 15px;
}
#foto1-11play img:hover{
    background-color: #EEC41B;
    cursor: pointer;
}
#video1-11-1{
    position: relative;
    top: -300px;
    float: left;
}
#video1-11-2{
    position: relative;
    top: 0;
}
#foto1-12{
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
    bottom: 100%;
    left: 0;
    z-index: -10;
    background-image: url('../foto/Santi169.jpg');
    background-size: cover;
    background-position: center center;
}
#foto1-12text{
    position: absolute;
    top: -50%;
    right: 100px;
    width: 35%;
}
#foto1-12text p{
    position: relative;
    top: 0px;
    color: white;
    font-size: 2rem;
    padding: 20px;
}
#foto1-12peu{
    position: absolute;
    color: white;
    width: 15%;
    left: -50%;
    bottom: 10px;
}
.foto1-12play{
    position: relative;
    z-index: 5;
    margin-bottom: 10px;
    float: right;
}
.foto1-12play img{
    background-color: rgba(238,196,27,.6);
}
.foto1-12play img:hover{
    background-color: #EEC41B;
    cursor: pointer;
}
#foto1-12play1{
    top: -300px;
    margin-right: 95px;
}
#foto1-12play2{
    top: -300px;
}
#foto1-12-2{
    top: -300px;
    margin-right: 95px;
}
#fotos1-12fotos{
    display: none;
    height: 100vh;
    width: 100%;
    position: absolute;
    background-color: rgba(0,0,0,.6);
    z-index: 5;
}
#fotos1-12fotos .blau{
    position: absolute;
    top: 10vh;
    right: 2.5vw;
    display: block;
    width: 30px;
    float: right;
    cursor: pointer;
    padding: 5px;
}
#fotos1-12fotos .blau img{
    height: 20px;
}
#fotos1-12fotos .groc{
    position: absolute;
    left: 3vw;
    top: 85vh;
    width: 240px;
    padding: 5px;
}
#fotos1-12slider{
    height: 80vh;
    width: 90vw;
    margin-left: 5vw;
    margin-top: 10vh;
}
#foto1-13{
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
    bottom: 100%;
    left: 0;
    z-index: -10;
    background-image: url('../foto/Santi124.jpg');
    background-size: cover;
    background-position: center center;
}
#foto1-13peu{
    position: absolute;
    color: white;
    width: 15%;
    left: -50%;
    bottom: 10px;
}
#foto1-13tapa{
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -10;
    opacity: 0;
}
#foto1-13text{
    position: absolute;
    top: 210%;
    left: 100px;
    width: 35%;
}
#foto1-13text p{
    color: white;
    font-size: 3.2rem;
    font-weight: 600;
}



#apartat2{display: none;}
#apartat3{display: none;}
#apartat4{display: none;}