#foto1-1{
    top: 100%;
    left: 0;
    background-image: url('../foto/_MG_8112.jpg');
    background-position: center center;
}
#foto1-1text{
    position: absolute;
    bottom: 215%;
}
#foto1-1text h2{
    color: white;
    padding: 15px;
    font-size: 6vw;
    text-transform: uppercase;
    font-weight: 600;
}
#foto1-2{
    top: 100%;
    left: 0;
    background-image: url('../foto/buda-2-.jpg');
    background-position: center center;
}
#foto1-2text{
    position: absolute;
    bottom: 215%;
}
#foto1-2text p{
    color: white;
    padding: 20px;
}
#foto1-3{
    top: 100%;
    left: 0;
}
#foto1-3a{
    top: 0;
    left: 0;
    background-image: url('../foto/Santi087.jpg');
    background-position: center center;
}
#foto1-3b{
    top: 0;
    left: 100%;
    background-image: url('../foto/Santi141.jpg');
    background-position: center center;
}
#foto1-3text{
    position: absolute;
    top: -210%;
}
#foto1-3text p{
    color: #F58431;
    font-size: 1.8vw;
    position: relative;
    top: 0
}
#foto1-3text img{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    top: -300px;
}
#foto1-4{
    top: -100%;
    left: 0;
}
#foto1-4a{
    top: 0;
    left: 0;
    background-image: url('../foto/Santi228.jpg');
    background-position: center center;
}
#foto1-4b{
    top: 0;
    left: 100%;
    background-image: url('../foto/Santi148.jpg');
    background-position: center center;
}
#foto1-4c{
    top: 0;
    left: 100%;
    background-image: url('../foto/Santi156.jpg');
    background-position: center center;
}
#foto1-4text{
    position: absolute;
    top: -210%;
}
#foto1-4text p{
    color: #F58431;
    font-size: 1.8vw;
}
#foto1-5{
    top: -100%;
    left: 0;
}
#foto1-5a{
    top: 0;
    left: 0;
    background-image: url('../foto/Santi163_taronga.jpg');
    background-position: center center;
}
#foto1-5b{
    top: 0;
    left: 100%;
    background-image: url('../foto/Santi065.jpg');
    background-position: center center;
}
#foto1-5text{
    position: absolute;
    top: -240%;
}
#foto1-5text p{
    color: #F58431;
    padding: 20px;
}
#foto1-5peu{
    color: #F58431;
}
#foto1-6{
    top: -100%;
    left: 0;
    background-image: url('../foto/Santi130.jpg');
    background-position: center center;
}
#foto1-6text{
    position: absolute;
    top: -215%;
}
#foto1-6text p{
    color: white;
    padding: 20px;
}
#apartat2{display: none;}
#foto2-1{
    top: 0;
    left: -100%;
    background-image: url('../foto/Santi064_taronga.jpg');
    background-position: center center;
}
#foto2-1peu img{
    position: relative;
    left: 0;
}
#foto2-1peu p{
    position: relative;
    left: -300px;
    padding: 10px;
}
#foto2-2{
    top: -100%;
    left: 0;
    background-image: url('../foto/Santi081.jpg');
    background-position: center center;
}
#foto2-2text{
    position: absolute;
    bottom: -210%;
}
#foto2-2text p{
    color: white;
    font-size: 1.8vw;
    position: relative;
    top: 300px
}
#foto2-2boto1{
    position: relative;
    top: 0;
}
#foto2-2boto2{
    position: relative;
    top: 300px;
}
#foto2-2boto3{
    position: relative;
    top: 300px;
}
#foto2-3{
    top: -100%;
    left: 0;
    background-image: url('../foto/Santi161.jpg');
    background-position: center center;
}
#foto2-3text{
    position: absolute;
    bottom: 215%;
}
#foto2-3text p{
    color: white;
    padding: 20px;
}
#foto2-4{
    top: -100%;
    left: 0;
    background-image: url('../foto/buda-46.jpg');
    background-position: center center;
}
#foto2-4text{
    position: absolute;
    top: -230%;
}
#foto2-4text p{
    color: #F58431;
    font-size: 1.8vw;
}
#apartat3{display: none;}
#foto3-1{
    top: -100%;
    left: 0;
}
#foto3-1a{
    top: 0;
    left: 0;
    background-image: url('../foto/Santi032.jpg');
    background-position: center center;
}
#foto3-1b{
    top: 0;
    left: 100%;
    background-image: url('../foto/Santi030.jpg');
    background-position: center center;
}
#foto3-1text{
    position: absolute;
    bottom: 210%;
}
#foto3-1text p{
    color: white;
    padding: 20px;
    position: relative;
    top: -300px;
}
#foto3-1boto1{
    position: relative;
    top: -300px;
}
#foto3-1boto2{
    position: relative;
    top: 0;
}
#foto3-2{
    top: -100%;
    left: 0;
    background-image: url('../foto/Santi169.jpg');
    background-position: center center;
}
#foto3-2text{
    position: absolute;
    top: -220%;
}
#foto3-2text p{
    color: white;
    padding: 20px;
    position: relative;
    top: 0;
}
#foto3-2boto1{
    position: relative;
    top: -300px;
}
#foto3-2boto2{
    position: relative;
    top: -300px;
}
#foto3-2boto3{
    position: relative;
    top: -300px;
}
#apartat3 .sliderfotos img{
    width: initial;
    max-width: 100%;
    max-height: 100%;
}
#foto3-3{
    top: -100%;
    left: 0;
    background-image: url('../foto/Santi124.jpg');
    background-position: center center;
}
#foto3-3 .tapa{
    opacity: .6;
}
#foto3-3text{
    position: absolute;
    top: 215%;
}
#foto3-3text p{
    color: white;
    font-size: 1.8vw;
}
#foto3-4{
    top: 100%;
    left: 0;
    background-image: url('../foto/Santi196.jpg');
    background-position: center center;
}
#foto3-4text{
    position: absolute;
    top: 210%;
}
#foto3-4text p{
    font-size: 1.8vw;
    color: #F58431;
    position: relative;
    top: 0;
}
#foto3-4boto{
    position: relative;
    top: 300px;
}
#foto3-5{
    top: 100%;
    left: 0;
    background-image: url('../foto/Santi176.jpg');
    background-position: center center;
}
#foto3-5text{
    position: absolute;
    top: -210%;
}
#foto3-5text p{
    color: white;
    padding: 20px;
    position: relative;
    top: -300px;
}
#foto3-5boto1{
    position: relative;
    top: -300px;
}
#foto3-5boto2{
    position: relative;
    top: 0;
}
#apartat4{display: none;}
#foto4-1{
    top: 100%;
    left: 0;
    background-image: url('../foto/Santi193.jpg');
    background-position: center center;
}
#foto4-1text{
    position: absolute;
    top: -210%;
}
#foto4-1text p{
    color: white;
    font-size: 1.8vw;
    position: relative;
    top: -300px;
}
#foto4-1boto{
    position: relative;
    top: 0;
}
#foto4-2{
    top: 100%;
    left: 0;
    background-image: url('../foto/Santi051.jpg');
    background-position: center center;
}
#foto4-2text{
    position: absolute;
    top: -215%;
}
#foto4-2text p{
    color: #F58431;
    font-size: 1.8vw;
    position: relative;
    top: 0;
}
#foto4-2boto1{
    position: relative;
    top: -300px;
}
#foto4-2boto2{
    position: relative;
    top: -300px;
}
#foto4-2boto3{
    position: relative;
    top: -300px;
}
#apartat4 .sliderfotos img{
    width: initial;
    max-width: 100%;
    max-height: 100%;
}
#foto4-4{
    top: 100%;
    left: 0;
    background-image: url('../foto/Santi155.jpg');
    background-position: center center;
}
#foto4-4text{
    position: absolute;
    top: -215%;
}
#foto4-4text div{
    color: white;
    padding: 20px;
    
}
#foto4-4text div span{
    font-size: 1.2vw;
    
}
#foto4-4text footer{
    color: white;
}
#foto4-5{
    top: 100%;
    left: 0;
    background-image: url('../foto/buda-70.jpg');
    background-position: center center;
}
#foto4-5text{
    position: absolute;
    top: -210%;
}
#foto4-5text p{
    color: white;
    padding: 20px;
}