#foto1-1{
    top: 100%;
    left: 0;
    background-image: url('../foto/_MG_8112.jpg');
    background-position: center center;
}
#foto1-1text{
    position: absolute;
    bottom: 215%;
}
#foto1-1text h2{
    color: white;
    padding: 15px;
    font-size: 6vw;
    text-transform: uppercase;
    font-weight: 600;
}
#foto1-2{
    top: 100%;
    left: 0;
    background-image: url('../foto/buda-2-.jpg');
    background-position: center center;
}
#foto1-2text{
    position: absolute;
    bottom: 215%;
}
#foto1-2text p{
    color: white;
    padding: 20px;
}
#foto1-3{
    top: 100%;
    left: 0;
}
#foto1-3a{
    top: 0;
    left: 0;
    background-image: url('../foto/Santi087.jpg');
    background-position: center center;
}
#foto1-3b{
    top: 0;
    left: 100%;
    background-image: url('../foto/Santi141.jpg');
    background-position: center center;
}
#foto1-3text{
    position: absolute;
    top: -210%;
}
#foto1-3text p{
    color: #F58431;
    font-size: 1.8vw;
    position: relative;
    top: 0
}
#foto1-3text img{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    top: -300px;
}
#foto1-4{
    top: -100%;
    left: 0;
}
#foto1-4a{
    top: 0;
    left: 0;
    background-image: url('../foto/Santi228.jpg');
    background-position: center center;
}
#foto1-4b{
    top: 0;
    left: 100%;
    background-image: url('../foto/Santi148.jpg');
    background-position: center center;
}
#foto1-4c{
    top: 0;
    left: 100%;
    background-image: url('../foto/Santi156.jpg');
    background-position: center center;
}
#foto1-4text{
    position: absolute;
    top: -210%;
}
#foto1-4text p{
    color: #F58431;
    font-size: 1.8vw;
}
#foto1-5{
    top: -100%;
    left: 0;
}
#foto1-5a{
    top: 0;
    left: 0;
    background-image: url('../foto/Santi163_taronga.jpg');
    background-position: center center;
}
#foto1-5b{
    top: 0;
    left: 100%;
    background-image: url('../foto/Santi065.jpg');
    background-position: center center;
}
#foto1-5text{
    position: absolute;
    top: -240%;
}
#foto1-5text p{
    color: #F58431;
    padding: 20px;
}
#foto1-5peu{
    color: #F58431;
}
#foto1-6{
    top: -100%;
    left: 0;
    background-image: url('../foto/Santi130.jpg');
    background-position: center center;
}
#foto1-6text{
    position: absolute;
    top: -215%;
}
#foto1-6text p{
    color: white;
    padding: 20px;
}
#apartat2{display: none;}
#foto2-1{
    top: 0;
    left: -100%;
    background-image: url('../foto/Santi064_taronga.jpg');
    background-position: center center;
}
#foto2-1peu img{
    position: relative;
    left: 0;
}
#foto2-1peu p{
    position: relative;
    left: -300px;
    padding: 10px;
}
#foto2-2{
    top: -100%;
    left: 0;
    background-image: url('../foto/Santi081.jpg');
    background-position: center center;
}
#foto2-2text{
    position: absolute;
    bottom: -210%;
}
#foto2-2text p{
    color: white;
    font-size: 1.8vw;
    position: relative;
    top: 300px
}
#foto2-2boto1{
    position: relative;
    top: 0;
}
#foto2-2boto2{
    position: relative;
    top: 300px;
}
#foto2-2boto3{
    position: relative;
    top: 300px;
}
#foto2-3{
    top: -100%;
    left: 0;
    background-image: url('../foto/Santi161.jpg');
    background-position: center center;
}
#foto2-3text{
    position: absolute;
    bottom: 215%;
}
#foto2-3text p{
    color: white;
    padding: 20px;
}


#apartat3{display: none;}
#apartat4{display: none;}
/*
#foto1-9{
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
    bottom: 100%;
    left: 0;
    z-index: -10;
    background-image: url('../foto/Santi161.jpg');
    background-size: cover;
    background-position: center center;
}
#foto1-9text{
    position: absolute;
    top: -150%;
    right: 100px;
    width: 40%;
}
#foto1-9text p{
    color: white;
    padding: 30px;
    font-size: 1.8rem;
}
#foto1-9peu{
    position: absolute;
    color: white;
    width: 15%;
    left: -50%;
    bottom: 10px;
}
#foto1-9tapa{
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -10;
    opacity: 0;
}
#foto1-9 .f{
    position: absolute;
    z-index: -5;
    max-width: 45vw;
    max-height: 75vh;
    top: -80%;
    left: -80%;
    cursor: pointer;
}
#foto1-10{
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
    bottom: 100%;
    left: 0;
    z-index: -10;
    background-image: url('../foto/buda-46.jpg');
    background-size: cover;
    background-position: center center;
}
#foto1-10text{
    position: absolute;
    top: -50%;
    right: 100px;
    width: 35%;
}
#foto1-10text p{
    color: #F58431;
    font-size: 3.5rem;
    font-weight: 600;
}
#foto1-10peu{
    position: absolute;
    color: white;
    width: 15%;
    left: -50%;
    bottom: 10px;
}
#foto1-11{
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
    bottom: 100%;
    left: 0;
    z-index: -10;
    background-image: url('../foto/Santi032.jpg');
    background-size: cover;
    background-position: center center;
}
#foto1-11b{
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
    bottom: 0;
    left: -100%;
    z-index: -10;
    background-image: url('../foto/Santi030.jpg');
    background-size: cover;
    background-position: center center;
}
#foto1-11text{
    position: absolute;
    top: -50%;
    left: 100px;
    width: 35%;
}
#foto1-11text p{
    position: relative;
    top: -300px;
    color: white;
    font-size: 2rem;
    padding: 20px;
}
#foto1-11peu{
    position: absolute;
    color: white;
    width: 15%;
    left: -50%;
    bottom: 10px;
}
#foto1-11play{
    position: relative;
    margin-left: 100%;
    z-index: 5;
}
#foto1-11play img{
    background-color: rgba(238,196,27,.6);
    margin-right: 15px;
}
#foto1-11play img:hover{
    background-color: #EEC41B;
    cursor: pointer;
}
#video1-11-1{
    position: relative;
    top: -300px;
    float: left;
}
#video1-11-2{
    position: relative;
    top: 0;
}
#foto1-12{
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
    bottom: 100%;
    left: 0;
    z-index: -10;
    background-image: url('../foto/Santi169.jpg');
    background-size: cover;
    background-position: center center;
}
#foto1-12text{
    position: absolute;
    top: -50%;
    right: 100px;
    width: 35%;
}
#foto1-12text p{
    position: relative;
    top: 0px;
    color: white;
    font-size: 2rem;
    padding: 20px;
}
#foto1-12peu{
    position: absolute;
    color: white;
    width: 15%;
    left: -50%;
    bottom: 10px;
}
.foto1-12play{
    position: relative;
    z-index: 5;
    margin-bottom: 10px;
    float: right;
}
.foto1-12play img{
    background-color: rgba(238,196,27,.6);
}
.foto1-12play img:hover{
    background-color: #EEC41B;
    cursor: pointer;
}
#foto1-12play1{
    top: -300px;
    margin-right: 95px;
}
#foto1-12play2{
    top: -300px;
}
#foto1-12-2{
    top: -300px;
    margin-right: 95px;
}
#fotos1-12fotos{
    display: none;
    height: 100vh;
    width: 100%;
    position: absolute;
    background-color: rgba(0,0,0,.6);
    z-index: 5;
}
#fotos1-12fotos .blau{
    position: absolute;
    top: 10vh;
    right: 2.5vw;
    display: block;
    width: 30px;
    float: right;
    cursor: pointer;
    padding: 5px;
}
#fotos1-12fotos .blau img{
    height: 20px;
}
#fotos1-12fotos .groc{
    position: absolute;
    left: 3vw;
    top: 85vh;
    width: 240px;
    padding: 5px;
}
#fotos1-12slider{
    height: 80vh;
    width: 90vw;
    margin-left: 5vw;
    margin-top: 10vh;
}
#fotos1-12slider div img{
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
#foto1-13{
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
    bottom: 100%;
    left: 0;
    z-index: -10;
    background-image: url('../foto/Santi124.jpg');
    background-size: cover;
    background-position: center center;
}
#foto1-13peu{
    position: absolute;
    color: white;
    width: 15%;
    left: -50%;
    bottom: 10px;
}
#foto1-13tapa{
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -10;
    opacity: 0;
}
#foto1-13text{
    position: absolute;
    top: 210%;
    left: 100px;
    width: 35%;
}
#foto1-13text p{
    color: white;
    font-size: 3.2rem;
    font-weight: 600;
}
#foto1-14{
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: -10;
    background-image: url('../foto/Santi196.jpg');
    background-size: cover;
    background-position: center center;
}
#foto1-14text{
    position: absolute;
    top: 110%;
    left: 100px;
    width: 35%;
}
#foto1-14text p{
    position: relative;
    top: 0;
    color: #F58431;
    font-size: 3.2rem;
    font-weight: 600;
}
#foto1-14peu{
    position: absolute;
    color: white;
    width: 15%;
    left: -50%;
    bottom: 10px;
}
#foto1-14play{
    position: relative;
    z-index: 5;
    float: right;
    top: 300px;
}
#foto1-14play img{
    background-color: rgba(238,196,27,.6);
}
#foto1-14play img:hover{
    background-color: #EEC41B;
    cursor: pointer;
}
#foto1-14tapa{
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -10;
    opacity: 0;
}
#foto1-14 .f{
    position: absolute;
    z-index: -5;
    max-width: 35vw;
    max-height: 75vh;
    top: -80%;
    left: -80%;
    cursor: pointer;
}
#foto1-15{
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: -10;
    background-image: url('../foto/Santi176.jpg');
    background-size: cover;
    background-position: center center;
}
#foto1-15text{
    position: absolute;
    top: -190%;
    left: 100px;
    width: 30%;
}
#foto1-15text p{
    padding: 20px;
    position: relative;
    top: 0;
    color: white;
    font-size: 1.8rem;
    top: -300px;
}
#foto1-15peu{
    position: absolute;
    color: white;
    width: 15%;
    left: -50%;
    bottom: 10px;
}
.foto1-15play{
    position: relative;
    z-index: 5;
    margin-bottom: 10px;
}
.foto1-15play img{
    background-color: rgba(238,196,27,.6);
}
.foto1-15play img:hover{
    background-color: #EEC41B;
    cursor: pointer;
}
#foto1-15play1{
    top: -300px;
}
#foto1-15play2{
    top: -300px;
    margin-left: 95px;
}
#foto1-15fotos{
    top: 0;
    margin-left: 190px;
}
#fotos1-15fotos{
    display: none;
    height: 100vh;
    width: 100%;
    position: absolute;
    background-color: rgba(0,0,0,.6);
    z-index: 5;
}
#fotos1-15fotos .blau{
    position: absolute;
    top: 10vh;
    right: 2.5vw;
    display: block;
    width: 30px;
    float: right;
    cursor: pointer;
    padding: 5px;
}
#fotos1-15fotos .blau img{
    height: 20px;
}
#fotos1-15fotos .groc{
    position: absolute;
    left: 3vw;
    top: 85vh;
    width: 240px;
    padding: 5px;
}
#fotos1-15slider{
    height: 80vh;
    width: 90vw;
    margin-left: 5vw;
    margin-top: 10vh;
}
#fotos1-15slider div img{
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
#foto1-16{
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: -10;
    background-image: url('../foto/Santi193.jpg');
    background-size: cover;
    background-position: center center;
}
#foto1-16text{
    position: absolute;
    top: -190%;
    left: 100px;
    width: 35%;
}
#foto1-16text p{
    position: relative;
    top: -300px;
    color: white;
    font-size: 3.2rem;
    font-weight: 600;
}
#foto1-16peu{
    position: absolute;
    color: white;
    width: 15%;
    left: -50%;
    bottom: 10px;
}
#foto1-16play{
    position: relative;
    z-index: 5;
    float: right;
    top: 0;
}
#foto1-16play img{
    background-color: rgba(245,132,49,.6);
}
#foto1-16play img:hover{
    background-color: #F58431;
    cursor: pointer;
}
#foto1-17{
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: -10;
    background-image: url('../foto/Santi051.jpg');
    background-size: cover;
    background-position: center center;
}
#foto1-17text{
    position: absolute;
    top: -190%;
    left: 100px;
    width: 30%;
}
#foto1-17text p{
    position: relative;
    top: 0;
    color: #F58431;
    font-size: 3.2rem;
    font-weight: 600;
    margin-top: 15px;
}
#foto1-17peu{
    position: absolute;
    color: white;
    width: 15%;
    left: -50%;
    bottom: 10px;
}
.foto1-17boto{
    position: relative;
    z-index: 5;
    margin-bottom: 10px;
}
.foto1-17boto img{
    background-color: rgba(238,196,27,.6);
}
.foto1-17boto img:hover{
    background-color: #EEC41B;
    cursor: pointer;
}
#foto1-17foto{
    top: -300px;
}
#foto1-17play1{
    top: -300px;
    margin-left: 95px;
}
#foto1-17play2{
    top: -300px;
}
#fotos1-17fotos{
    display: none;
    height: 100vh;
    width: 100%;
    position: absolute;
    background-color: rgba(0,0,0,.6);
    z-index: 5;
}
#fotos1-17fotos .blau{
    position: absolute;
    top: 10vh;
    right: 2.5vw;
    display: block;
    width: 30px;
    float: right;
    cursor: pointer;
    padding: 5px;
}
#fotos1-17fotos .blau img{
    height: 20px;
}
#fotos1-17fotos .groc{
    position: absolute;
    left: 3vw;
    top: 85vh;
    width: 240px;
    padding: 5px;
}
#fotos1-17slider{
    height: 80vh;
    width: 90vw;
    margin-left: 5vw;
    margin-top: 10vh;
}
#fotos1-17slider div img{
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
#foto1-17video{
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 10;
    top: 100%;
    display: table-cell;
    vertical-align: middle;
}
#foto1-17video video{
    max-height: 100%;
    min-width: 100%;
    object-fit: inherit;
}
#foto1-17videopeu{
    position: absolute;
    color: white;
    width: 15%;
    left: 50px;
    bottom: -110%;
    padding: 10px;
}
#foto1-18{
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: -10;
    background-image: url('../foto/Santi155.jpg');
    background-size: cover;
    background-position: center center;
}
#foto1-18text{
    position: absolute;
    top: -190%;
    left: 100px;
    width: 35%;
}
#foto1-18text div{
    color: white;
    font-size: 1.8rem;
    padding: 15px;
}
#foto1-18text blockquote p{
    font-size: 1.6rem;
}
#foto1-18text blockquote footer{
    font-size: 1.4rem;
    color: white
}
#foto1-18peu{
    position: absolute;
    color: white;
    width: 15%;
    left: -50%;
    bottom: 10px;
}
#foto1-19{
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: -10;
    background-image: url('../foto/buda-70.jpg');
    background-size: cover;
    background-position: center center;
}
#foto1-19text{
    position: absolute;
    top: -190%;
    right: 100px;
    width: 35%;
}
#foto1-19text p{
    color: white;
    font-size: 1.8rem;
    padding: 15px;
}
#foto1-19peu{
    position: absolute;
    color: white;
    width: 15%;
    left: -50%;
    bottom: 10px;
}



#apartat2{display: none;}
#apartat3{display: none;}
#apartat4{display: none;}*/