#foto1-1{
    top: 100%;
    background-image: url('../foto/buda-34.jpg');
    background-position: center bottom;
}
#foto1-1text{
    position: absolute;
    top: -150%;
}
#foto1-1text h2{
    color: white;
    padding: 15px;
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: 600;
}
#foto1-2{
    top: 100%;
    background-image: url('../foto/Santi077.jpg');
    background-position: center center;
}
#foto1-2text{
    position: absolute;
    top: -215%;
}
#foto1-2text p{
    position: relative;
    color: white;
    font-size: 1.6vw;
    top: -300px;
}
#foto1-2boto1{
    position: relative;
    top: -300px;
}
#foto1-2boto2{
    position: relative;
    top: -300px;
}
#foto1-2boto3{
    position: relative;
    top: 0;
}
#foto1-3{
    top: 100%;
    background-image: url('../foto/Santi214.jpg');
    background-position: center center;
}
#foto1-3text{
    position: absolute;
    top: -210%;
}
#foto1-3text p{
    position: relative;
    color: white;
    top: -300px;
    padding: 20px;
}
#foto1-3boto1{
    position: relative;
    top: -300px;
}
#foto1-3boto2{
    position: relative;
    top: 0;
}
#foto1-4{
    top: 100%;
    background-image: url('../foto/Santi194groc.jpg');
    background-position: center center;
}
#foto1-4text{
    position: absolute;
    top: -210%;
}
#foto1-4text p{
    color: white;
    font-size: 1.8vw;
}
#foto1-5{
    top: 100%;
    background-image: url('../foto/SaP_584_08.jpg');
    background-position: center center;
}
#foto1-5text{
    position: absolute;
    top: -210%;
}
#foto1-5text p{
    color: #EEC41B;
    font-size: 1.8vw;
}
#foto1-5peu{
    color: black;
}
#foto1-6{
    top: 100%;
    background-image: url('../foto/Diario-de-Tortosa.jpg');
    background-position: center center;
}
#foto1-6text{
    position: absolute;
    bottom: 210%;
}
#foto1-6text p{
    color: white;
    font-size: 1.8vw;
}
#foto1-7{
    top: 100%;
    background-image: url('../foto/Santi216.jpg');
    background-position: center center;
}
#foto1-7text{
    position: absolute;
    bottom: 210%;
}
#foto1-7text p{
    color: black;
    padding: 30px;
}
#foto1-8{
    top: 100%;
    background-image: url('../foto/Santi215.jpg');
    background-position: center center;
}
#foto1-8text{
    position: absolute;
    top: -210%;
}
#foto1-8text p{
    color: black;
    padding: 30px;
}
#foto1-8 .videofons{
    top: 100%;
}
#foto1-9{
    top: -100%;
    background-image: url('../foto/Santi210.jpg');
    background-position: center center;
}
#foto1-9text{
    position: absolute;
    top: 215%;
}
#foto1-9text p{
    position: relative;
    color: white;
    font-weight: 600;
    font-size: 1.8vw;
    top: 0;
}
#foto1-9boto1{
    position: relative;
    top: 300px;
}
#foto1-9boto2{
    position: relative;
    top: 300px;
}
#foto1-10{
    top: -100%;
    background-image: url('../foto/buda-28-.jpg');
}
#foto1-10 .tapa{
    opacity: .6;
}
#foto1-10text{
    position: absolute;
    top: 210%;
}
#foto1-10text p{
    color: white;
    font-size: 1.8vw;
}
#foto1-10text2{
    position: absolute;
    top: 210%;
}
#foto1-10text2 p{
    color: white;
    font-size: 1.8vw;
}
#foto1-11{
    top: -100%;
    background-image: url('../foto/buda-36.jpg');
}
#foto1-11text{
    position: absolute;
    top: 210%;
}
#foto1-11text p{
    position: relative;
    top: 0;
    color: white;
    padding: 20px;
}
#foto1-11boto{
    position: relative;
    top: 300px;
}
#foto1-12{
    top: -100%;
    background-image: url('../foto/buda-40.jpg');
    background-position: left bottom;
}
#foto1-12text{
    position: absolute;
    top: 210%;
}
#foto1-12text p{
    color: white;
    padding: 20px;
}