#foto1-1{
    top: -100%;
    background-image: url('../foto/BORRELL_0568.jpg');
    background-position: center bottom;
}
#foto1-1text{
    position: absolute;
    top: 250%;
}
#foto1-1text h2{
    color: white;
    padding: 30px;
    font-size: 4.5vw;
    text-transform: uppercase;
    font-weight: 600;
    line-height: initial;
}
#foto1-2{
    top: -100%;
    background-image: url('../foto/Santi082.jpg');
}
#foto1-2text{
    position: absolute;
    top: 210%;
}
#foto1-2text p{
    color: white;
    font-size: 1.8vw;
    font-weight: 600;
}
#foto1-3{
    top: -100%;
    background-image: url('../foto/Foto_Tarraconense.jpg');
}
#foto1-3text{
    position: absolute;
    top: 220%;
}
#foto1-3text p{
    color: white;
    font-size: 1.2vw;
    padding: 25px;
}
#apartat2{display: none;}
#foto2-1{
    top: 0;
    left: 100%;
}
#foto2-1text{
    position: absolute;
    top: 110%;
}
#foto2-1text p{
    position: relative;
    top: 0;
    color: white;
    font-size: 1.1vw;
    padding: 15px;
}
#foto2-1text h2{
    position: relative;
    top: 300px;
    color: white;
    font-size: 3vw;
    padding: 25px;
    font-weight: 600;
    text-transform: uppercase;
}
#foto2-2{
    top: -100%;
    background-image: url('../foto/550p.jpg');
}
#foto2-2text{
    position: absolute;
    top: 230%;
}
#foto2-2text p{
    position: relative;
    color: white;
    font-size: 1.1vw;
    padding: 25px;
}
#foto2-2b{
    position: relative;
    top: 300px;
}
#apartat3{display: none;}
#foto3-1{
    top: -100%;
    background-image: url('../foto/b558.jpg');
}
#foto3-1text{
    position: absolute;
    top: -50%;
}
#foto3-1text p{
    position: relative;
    top: -300px;
    color: white;
    font-size: 1vw;
    padding: 20px;
}
#foto3-1text h2{
    position: relative;
    top: 0;
    color: white;
    font-size: 3.5vw;
    padding: 25px;
    font-weight: 600;
    text-transform: uppercase;
}
#foto3-2{
    top: -100%;
    left: 0;
}
#foto3-2text{
    position: absolute;
    top: -50%;
}
#foto3-2text p{
    color: #EEC41B;
    font-size: 1.4vw;
    font-weight: 600;
}
#foto3-3{
    top: -100%;
    left: 0;
}
#foto3-4{
    top: -100%;
    left: 0;
}
#foto3-4text{
    position: absolute;
    top: -80%;
}
#foto3-4text p{
    color: white;
    padding: 20px;
}
#foto3-5{
    top: -100%;
    left: 0;
}
#foto3-5text{
    position: absolute;
    top: -80%;
}
#foto3-5text p{
    color: white;
    font-size: 1.8rem;
    padding: 20px;
}
#foto3-6{
    top: -100%;
    left: 0;
}
#foto3-7{
    top: -100%;
    left: 0;
}
#foto3-7text{
    position: absolute;
    top: -80%;
}
#foto3-7text p{
    color: white;
    font-size: 1.1vw;
    padding: 20px;
}
#foto3-8{
    top: -100%;
    left: 0;
}
#foto3-8text{
    position: absolute;
    top: -80%;
}
#foto3-8text p{
    color: white;
    font-size: 1.3vw;
    padding: 20px;
}
#apartat4{display: none;}
#foto4-1{
    top: 100%;
    background-image: url('../foto/pdf_fons.jpg');
}
#foto4-1text{
    position: absolute;
    top: -150%;
}
#foto4-1text p{
    position: relative;
    top: -300px;
    color: white;
    font-size: 1.1vw;
    padding: 20px;
}
#foto4-1text h2{
    position: relative;
    top: 0;
    color: white;
    font-size: 6vw;
    padding: 25px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: inherit;
}
#foto4-1text2{
    position: absolute;
    bottom: -180%;
    z-index: 999;
}
#foto4-1text2 p{
    color: white;
    padding: 20px;
}
#foto4-1diari1,#foto4-1diari2{
    max-width: 100vw;
    display: block;
    left: 100%;
    background-color: rgba(0,0,0,0);
    
}
#foto4-2{
    height: 100vh;
    min-width: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: -10;
    display: table;
}
#foto4-2video{
    display: table-cell;
    vertical-align: middle;
}
#foto4-2 video{
    width: 100vw;
    height: auto;
}
#foto4-2peu{
    padding: 15px;
    left: -150%;
}