#foto1-1{
    top: -100%;
    background-image: url('../foto/BORRELL_0568.jpg');
    background-position: center bottom;
}
#foto1-1text{
    position: absolute;
    top: 150%;
    left: 100px;
    display: none;
}
#foto1-1text h2{
    position: relative;
    color: white;
    padding: 30px;
    font-size: 8rem;
    text-transform: uppercase;
    font-weight: 600;
    width: 100rem;
    line-height: initial;
}
#foto1-2{
    top: -100%;
    background-image: url('../foto/Santi082.jpg');
}
#foto1-2text{
    position: absolute;
    top: 110%;
    right: 100px;
    width: 33%;
    display: none;
}
#foto1-2text p{
    color: white;
    font-size: 3.2rem;
    font-weight: 600;
}
#foto1-3{
    top: -100%;
    background-image: url('../foto/Foto_Tarraconense.jpg');
}
#foto1-3text{
    position: absolute;
    top: 220%;
    right: 100px;
    width: 30%;
}
#foto1-3text p{
    color: white;
    font-size: 2.1rem;
    padding: 25px;
}
#apartat2{display: none;}
#foto2-1{
    top: 0;
    left: 100%;
}
#foto2-1text{
    position: absolute;
    top: 110%;
    left: 100px;
}
#foto2-1text p{
    position: relative;
    top: 0;
    color: white;
    font-size: 1.8rem;
    padding: 15px;
    width: 33%;
}
#foto2-1text h2{
    position: relative;
    top: 300px;
    color: white;
    font-size: 7rem;
    padding: 15px;
    width: 90rem;
    font-weight: 600;
    text-transform: uppercase;
}
#foto2-2{
    top: -100%;
    background-image: url('../foto/550p.jpg');
}
#foto2-2text{
    position: absolute;
    top: 230%;
    right: 100px;
    width: 30%;
}
#foto2-2text p{
    position: relative;
    color: white;
    font-size: 1.8rem;
    padding: 25px;
}
#foto2-2b{
    position: relative;
    top: 300px;
}
#apartat3{display: none;}
#foto3-1{
    top: -100%;
    background-image: url('../foto/b558.jpg');
}
#foto3-1text{
    position: absolute;
    top: -50%;
    left: 100px;
}
#foto3-1text p{
    position: relative;
    top: -300px;
    color: white;
    font-size: 1.8rem;
    padding: 20px;
    width: 42%;
}
#foto3-1text h2{
    position: relative;
    top: 0;
    color: white;
    font-size: 7rem;
    padding: 25px;
    width: 82rem;
    font-weight: 600;
    text-transform: uppercase;
}
#foto3-2{
    bottom: 100%;
    left: 0;
}
#foto3-2text{
    position: absolute;
    top: -50%;
    left: 100px;
}
#foto3-2text p{
    color: #EEC41B;
    font-size: 2.5rem;
    font-weight: 600;
    width: 30%;
}
#foto3-2{
    bottom: 100%;
    left: 0;
}
#foto3-3{
    bottom: 100%;
    left: 0;
}
#foto3-4{
    bottom: 100%;
    left: 0;
}
#foto3-4text{
    position: absolute;
    top: -80%;
    left: 100px;
    width: 20%;
}
#foto3-4text p{
    color: white;
    font-size: 1.8rem;
    padding: 20px;
}
#foto3-5{
    bottom: 100%;
    left: 0;
}
#foto3-5text{
    position: absolute;
    top: -80%;
    left: 100px;
    width: 30%;
}
#foto3-5text p{
    color: white;
    font-size: 1.8rem;
    padding: 20px;
}
#foto3-6{
    bottom: 100%;
    left: 0;
}
#foto3-7{
    bottom: 100%;
    left: 0;
}
#foto3-7text{
    position: absolute;
    top: -80%;
    left: 100px;
    width: 30%;
}
#foto3-7text p{
    color: white;
    font-size: 1.8rem;
    padding: 20px;
}
#foto3-8{
    bottom: 100%;
    left: 0;
}
#foto3-8text{
    position: absolute;
    top: -80%;
    left: 100px;
    width: 30%;
}
#foto3-8text p{
    color: white;
    font-size: 1.8rem;
    padding: 20px;
}
#apartat4{display: none;}
#foto4-1{
    top: -100%;
    background-image: url('../foto/pdf_fons.jpg');
}
#foto4-1text{
    position: absolute;
    top: -50%;
    left: 100px;
}
#foto4-1text p{
    position: relative;
    top: -300px;
    color: white;
    font-size: 1.8rem;
    padding: 20px;
    width: 42%;
}
#foto4-1text h2{
    position: relative;
    top: 0;
    color: white;
    font-size: 6.5rem;
    padding: 25px;
    width: 95rem;
    font-weight: 600;
    text-transform: uppercase;
    line-height: inherit;
}
#foto4-1text2{
    position: absolute;
    bottom: -180%;
    right: 50px;
    width: 40%;
    z-index: 999;
}
#foto4-1text2 p{
    color: white;
    font-size: 1.8rem;
    padding: 20px;
}
#foto4-1diari1,#foto4-1diari2{
    display: block;
    left: 100%;
    background-color: rgba(0,0,0,0);
}
#foto4-2{
    height: 100vh;
    min-width: 100%;
    position: absolute;
    top: 0;
    left: 0100%;
    z-index: -10;
    display: table;
}
#foto4-2video{
    display: table-cell;
    vertical-align: middle;
}
#foto4-2 video{
    width: 100vw;
    height: auto;
}
#foto4-2peu{
    padding: 10px;
    left: -150%;
}