.final{
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0,0,0,.9);
    opacity: 0;
    padding-top: 8rem;
    display: none;
}
.final h2{
    color: white;
    font-size: 6rem;
    margin-bottom: 6rem;
}
.final h3{
    color: white;
    font-size: 4rem;
    margin-bottom: 3rem;
}
.desenfocat{
    filter: blur(5px);
}
#foto1-1{
    top: 0;
    opacity: 0;
    background-image: url('../foto/IMG003PNDE.jpg');
    background-position: center bottom;
}
#foto1-1text{
    position: absolute;
    top: -50%;
}
#foto1-1text h2{
    position: relative;
    top: -300px;
    color: white;
    padding: 25px;
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 0.8 !important;
}
#foto1-1text p{
    position: relative;
    top: 0;
    color: white;
    padding: 10px;
    font-size: 1.6vw;
    font-weight: 600;
}
#foto1-1text2{
    position: absolute;
    top: -50%;
}
#foto1-1text2 p{
    position: relative;
    top: -300px;
    color: white;
    font-size: 2vw;
    font-weight: 600;
}
#foto1-1b{
    position: relative;
    top: 0;
}
#foto1-1text3{
    position: absolute;
    bottom: 110%;
}
#foto1-1text3 p{
    color: white;
    font-size: 1.4vw;
}
#foto1-1peufotos{
    padding: 10px;
}
#foto1-2{
    top: 100%;
    background-image: url('../foto/IMG007PNDE.jpg');
    background-position: center center;
}
#foto1-2text{
    position: absolute;
    top: 150%;
}
#foto1-2text h2{
    position: relative;
    top: 0;
    color: white;
    padding: 25px;
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 0.8 !important;
}
#foto1-2text p{
    position: relative;
    top: 300px;
    color: white;
    padding: 15px;
    font-size: 2vw;
    font-weight: 600;
}
#foto1-2text2{
    position: absolute;
    bottom: -90%;
    left: 100px;
    width: 40%;
}
#foto1-2text2 p{
    position: relative;
    top: 0;
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
}
#foto1-2b1{
    top: 300px;
    margin-right: 5px;
}
#foto1-2b2{
    top: 300px;
}
#foto1-3text{
    position: absolute;
    top: 110%;
    left: 100px;
    width: 40%;
}
#foto1-3text p{
    position: relative;
    padding: 10px;
    top: 0;
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
}
#foto1-3b1{
    top: 300px;
    margin-right: 5px;
}
#foto1-3b2{
    top: 300px;
}


#apartat2{display: none;}