#foto1-1{
    top: 0;
    left: 100%;
    background-image: url('../foto/_MG_8098.jpg');
    background-position: center center;
}
#foto1-1text{
    position: absolute;
    top: -110%;
}
#foto1-1text h2{
    color: white;
    padding: 30px;
    font-size: 6vw;
    text-transform: uppercase;
    font-weight: 600;
}
#foto1-2{
    top: 100%;
    background-image: url('../foto/_MG_8076.jpg');
    background-position: center center;
}
#foto1-2text{
    position: absolute;
    top: -210%;
}
#foto1-2text h2{
    position: relative;
    top: -300px;
    color: white;
    padding: 30px;
    font-size: 4vw;
    text-transform: uppercase;
    font-weight: 600;
}
#foto1-2text p{
    position: relative;
    top: 0;
    color: white;
    padding: 20px;
    font-size: 2vw;
    font-weight: 600;
}
#foto1-2peu{
    padding: 15px;
}
#foto1-3{
    top: 100%;
    background-image: url('../foto/IMG024PNDE.jpg');
    background-position: center center;
}
#foto1-3peu{
    padding: 15px;
}
#foto1-3text{
    position: absolute;
    bottom: -210%;
}
#foto1-3text p{
    position: relative;
    top: 0;
    color: white;
    font-size: 2vw;
    font-weight: 600;
}
#foto1-3text img{
    position: relative;
    left: -50vw;
}
#foto1-4{
    top: 100%;
    background-image: url('../foto/IMG025PNDE.jpg');
    background-position: center center;
}
#foto1-4peu{
    top: 15%;
    bottom: auto;
    left: 150%;
    padding: 15px;
}
#foto1-4text{
    position: absolute;
    top: 215%;
}
#foto1-4text p{
    position: relative;
    top: 0;
    color: white;
    font-size: 2vw;
    font-weight: 600;
}
#foto1-4boto{
    position: relative;
    top: 300px;
}
#foto1-5{
    top: 100%;
    background-image: url('../foto/IMG022PNDE.jpg');
    background-position: center center;
}
#foto1-5peu{
    left: 150%;
    padding: 15px;
}
#foto1-5text{
    position: absolute;
    bottom: 215%;
}
#foto1-5text p{
    padding: 30px;
    color: #ABB057;
    font-size: 1.3vw;
}
#foto1-6{
    top: 100%;
    background-image: url('../foto/IMG016PNDE.jpg');
    background-position: center center;
}
#foto1-6peu{
    padding: 15px;
}
#foto1-6text{
    position: absolute;
    bottom: 215%;
}
#foto1-6text p{
    padding: 30px;
    color: #ABB057;
    font-size: 1.3vw;
}
#apartat2{display: none;}
#foto2-1{
    top: 100%;
    background-image: url('../foto/_MG_8086.jpg');
    background-position: center center;
}
#foto2-1text{
    position: absolute;
    top: -210%;
}
#foto2-1text h2{
    position: relative;
    top: 0;
    color: white;
    padding: 30px;
    font-size: 4vw;
    text-transform: uppercase;
    font-weight: 600;
}
#foto2-1text p{
    position: relative;
    top: -300px;
    color: white;
    padding: 20px;
    font-size: 1.3vw;
}
#foto2-1video .videopeu{
    padding: 15px;
    color: black;
    left: -50%;
    bottom: 10px;
}
#foto2-2{
    top: 100%;
    background-image: url('../foto/2_2.jpg');
    background-position: center center;
}
#foto2-2text{
    position: absolute;
    top: -250%;
}
#foto2-2text p{
    position: relative;
    top: -300px;
    color: white;
    padding: 30px;
    font-size: 1.3vw;
}
#foto2-2boto1{
    position: relative;
    top: -300px;
}
#foto2-2boto2{
    position: relative;
    top: 0;
}
#apartat3{display: none;}
#foto3-1{
    top: 100%;
    background-image: url('../foto/_MG_8085.jpg');
    background-position: center center;
}
#foto3-1text{
    position: absolute;
    top: -220%;
}
#foto3-1text h2{
    position: relative;
    top: 0;
    color: white;
    padding: 30px;
    font-size: 4vw;
    text-transform: uppercase;
    font-weight: 600;
}
#foto3-1text p{
    position: relative;
    top: -300px;
    color: white;
    padding: 20px;
    font-size: 1.3vw;
}
#foto3-1video{
    top: 100%;
    z-index: 0;
}
#foto3-1video .videopeu{
    left: -50%;
    bottom: 10%;
    color: black;
}
#foto3-2{
    top: 100%;
    background-image: url('../foto/_MG_8104.jpg');
    background-position: center center;
}
#foto3-2text{
    position: absolute;
    top: -210%;
}
#foto3-2text p{
    color: white;
    padding: 20px;
}
#foto3-2peu{
    color: white;
}
#foto3-2video .videopeu{
    left: -50%;
    bottom: 10%;
    color: black;
}
#foto3-3{
    top: 100%;
    background-image: url('../foto/_MG_8090.jpg');
    background-position: center top;
}
#foto3-3text{
    position: absolute;
    top: -240%;
}
#foto3-3text p{
    color: white;
    padding: 20px;
}
#foto3-3peu{
    color: white;
}
#foto3-3botons{
    position: absolute;
    top: -230%;
}
#foto3-3botons .clearfix{
    margin-bottom: 50px;
}
#foto3-3boto1{
    position: relative;
    top: -300px;
}
#foto3-3boto2{
    position: relative;
    top: -300px;
}
#foto3-3boto3{
    position: relative;
    top: -300px;
}
#foto3-3boto4{
    position: relative;
    top: -300px;
}
#foto3-3boto5{
    position: relative;
    top: 0;
}
#foto3-3text2{
    position: absolute;
    top: -240%;
}
#foto3-3text2 p{
    color: #F15D42;
    padding: 20px;
}
#foto3-3video .videopeu{
    left: -50%;
    bottom: 10%;
    color: black;
}
#apartat4{display: none;}
#foto4-1{
    top: 100%;
    background-image: url('../foto/_MG_8075.jpg');
    background-position: center center;
}
#foto4-1text{
    position: absolute;
    top: -210%;
}
#foto4-1text h2{
    position: relative;
    top: 0;
    color: white;
    padding: 30px;
    font-size: 4vw;
    text-transform: uppercase;
    font-weight: 600;
}
#foto4-1text p{
    position: relative;
    top: -300px;
    color: white;
    padding: 20px;
    font-size: 1.3vw;
}
#foto4-1video1{
    top: 100%;
    z-index: 0;
}
#foto4-1video1 .videopeu{
    left: -50%;
    bottom: 10%;
    color: black;
}
#foto4-1video2{
    top: 100%;
    z-index: 0;
}
#foto4-1video2 .videopeu{
    left: -50%;
    bottom: 10%;
    color: black;
}