.container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
    z-index: -1;
}
.titol,.destacat{
    padding: 3rem;
    color: white;
}
.titol h2{
    font-size: 10rem;
    font-weight: 600;
    margin: 0;
}
#apartat1 video{
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
    bottom: 0;
    opacity: 0;
    z-index: -10;
}
#titol1{
    position: absolute;
    top: 105%;
    left: 5%;
    text-transform: uppercase;
}
#destacat1{
    position: absolute;
    top: 105%;
    left: 5%;
    width: 680px;
}
#destacat1 p{
    margin: 0;
    font-size: 2.5rem; 
}
#tapa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -5;
}

#destacat2{
    position: absolute;
    top: 350px;
    left: -500px;
    width: 500px;
}
#destacat2 #marca{
    height: 75px;
    margin-left: -15px;
}
#destacat2 p{
    color: white;
    margin: 0;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: -25px;
    margin-left: 35px;
}
#fotobarquesriba{
    position: absolute;
    top: -50%;
    right: -50%;
    height: 80%;
    transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    display: none;
}
#fotobarquesriba img{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -3;    
    height: 100%;
    transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
}
#fotobarquesriba div{
    position: absolute;
    z-index: -1;
    width: 220px;
    right:-100px;
    bottom: 150px;
    padding: 15px;
}
#apartat2 #video2fons{
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
    top: 100%;
    z-index: -10;
}
#videotext{
     position: absolute;
     bottom: 50px;
     left: -250px;
     width: 250px;
     padding: 7px;
}
#tapa2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -5;
}
#text2{
    position: absolute;
    z-index: -4;
    color: white;
    width: 600px;
    left: 50px;
    top: -50%;
}
#text2 h2{
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 1.3;
}
#play2{
    position: absolute;
    z-index: 5;
    bottom: -70px;
    left: 50px;
    background-color: rgba(238,196,27,.6);
}
#play2 img:hover{
    background-color: #EEC41B;
    cursor: pointer;
}
.videopopup{
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0,0,0,.7);
}
.videopopup #videosapartat2{
    display: block;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    width: 55%;
}
#videosapartat2 video{
    width: 95%;
}
#videosapartat2 .groc{
    position: absolute;
    margin-left: -200px;
    margin-top: -100px;
    width: 240px;
    padding: 5px;
}
#videosapartat2 .blau{
    padding: 5px;
    display: block;
    width: 30px;
    float: right;
    cursor: pointer;
}
#videosapartat2 .blau img{
    height: 20px;
}
#apartat3{
    position: absolute;
    z-index: -10;
}
#video3fons{
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
    top: 0;
    z-index: -10;    
}
titul3-1{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    z-index: -9;
}
#apartat4{
    position: absolute;
    z-index: -10;
}
#apartat5{
    position: absolute;
    z-index: -10;
}
#apartat6{
    position: absolute;
    z-index: -10;
}
#apartat7{
    position: absolute;
    z-index: -10;
}
