#foto1-1{
    top: 100%;
    left: 0;
    background-image: url('../foto/Santi050.jpg');
    background-position: center center;
}
#foto1-1text{
    position: absolute;
    top: -140%;
}
#foto1-1text h2{
    color: white;
    padding: 30px;
    font-size: 6vw;
    text-transform: uppercase;
    font-weight: 600;
}
#foto1-2{
    top: 100%;
    background-image: url('../foto/dreta_1880-bn.jpg');
    background-position: center center;
}
#foto1-2text{
    position: absolute;
    top: -220%;
}
#foto1-2text h2{
    position: relative;
    top: -300px;
    color: white;
    padding: 15px;
    font-size: 1.4vw;
    text-transform: uppercase;
    font-weight: 600;
}
#foto1-2text p{
    position: relative;
    top: 0;
    color: white;
    padding: 20px;
}
#foto1-2peu{
    padding: 15px;
    left: 150%;
}
#foto1-3{
    display: none;
    top: 0;
    opacity: 0;
    background-image: url('../foto/dreta_1880.jpg');
    background-position: center center;
}
#foto1-3text{
    position: absolute;
    top: -230%;
}
#foto1-3text p{
    position: relative;
    top: 0;
    color: white;
    padding: 20px;
    font-size: 1.3vw;
}
#foto1-4{
    top: 100%;
    background-image: url('../foto/Santi106.jpg');
    background-position: center center;
}
#foto1-4text{
    position: absolute;
    top: -230%;
}
#foto1-4text h2{
    position: relative;
    top: 0;
    color: white;
    padding: 15px;
    font-size: 3.5vw;
    text-transform: uppercase;
    font-weight: 600;
}
#foto1-4text p{
    position: relative;
    top: -300px;
    color: white;
    padding: 20px;
}
#foto1-4text2{
    position: absolute;
    bottom: 220%;
}
#foto1-4text2 p{
    color: #888D57;
    padding: 20px;
}
.peixos{
    position: absolute;
    top: 30%;
    left: 200%
}
.peixos img{
    position: relative;
    left: 300px;
    margin-bottom: 15px;
    max-width: 90%;
    max-height: 50vh;
}
.peixos p{
    position: relative;
    padding: 15px;
    left: 300px;
}
.peixos p strong{
    text-transform: uppercase;
}
#foto1-5{
    top: 100%;
    background-image: url('../foto/Santi093.jpg');
    background-position: center top;
}
#foto1-5text{
    position: absolute;
    top: -235%;
}
#foto1-5text p{
    position: relative;
    top: -300px;
    color: white;
    font-size: 2vw;
    font-weight: 600;
}
#foto1-5text img{
    position: relative;
    top: 0;
    width: 20%;
}
#foto1-5peu{
    padding: 15px;
    left: 150%;
}
#foto1-6{
    top: 100%;
    background-image: url('../foto/Santi096.jpg');
    background-position: center top;
}
#foto1-6text{
    position: absolute;
    bottom: 210%;
}
#foto1-6text p{
    color: white;
    padding: 30px;
}
#foto1-6peu{
    padding: 15px;
    left: 150%;
    bottom: inherit;
    top: 10%;
}
#foto1-7{
    top: 100%;
    background-image: url('../foto/Santi105.jpg');
    background-position: center center;
}
#foto1-7 .tapa{
    opacity: .6;
}
#foto1-7text{
    position: absolute;
    bottom: 215%;
}
#foto1-7text p{
    position: relative;
    top: 0;
    color: #888D57;
    padding: 30px;
}
#foto1-7text img{
    position: relative;
    top: -300px;
    height: 20%;
    margin-bottom: 15px;
}
#foto1-7peu{
    color: white;
}
#apartat2{display: none;}
#foto2-1{
    top: 100%;
    background-image: url('../foto/Santi050.jpg');
    background-position: center center;
}
#foto2-1text{
    position: absolute;
    bottom: 215%;
}
#foto2-1text h2{
    position: relative;
    top: 0;
    color: white;
    padding: 15px;
    font-size: 3.5vw;
    text-transform: uppercase;
    font-weight: 600;
}
#foto2-1text p{
    position: relative;
    top: -300px;
    color: white;
    padding: 20px;
}
#foto2-2{
    top: 100%;
    background-image: url('../foto/Santi110.jpg');
    background-position: center center;
}
#foto2-2text{
    position: absolute;
    bottom: 210%;
}
#foto2-2 img{
    height: 80vh;
    width: inherit;
}
#foto2-2text p{
    color: #CBA01A;
    padding: 30px;
}
#foto2-2peu{
    padding: 15px;
    left: 150%;
    bottom: inherit;
    top: 10%;
}
#foto2-2text2{
    position: absolute;
    top: -235%;
}
#foto2-2text2 p{
    color: white;
    padding: 30px;
}
#foto2-3{
    top: 100%;
    background-image: url('../foto/Santi107.jpg');
    background-position: center center;
}
#foto2-3text{
    position: absolute;
    top: 210%;
}
#foto2-3text p{
    color: white;
    padding: 30px;
}
#foto2-3text2{
    position: absolute;
    top: 210%;
}
#foto2-3text2 p{
    color: white;
    font-size: 2.2vw;
    font-weight: 600;
}
#foto2-4{
    top: 100%;
    background-image: url('../foto/Santi109.jpg');
    background-position: center top;
}
#foto2-4 .tapa{
    opacity: .6;
}
#foto2-4text{
    position: absolute;
    bottom: -210%;
}
#foto2-4text p{
    position: relative;
    top: 300px;
    color: #CBA01A;
    padding: 30px;
}
#foto2-4text img{
    position: relative;
    top: 0;
}
#foto2-4peu{
    color: black;
}
#foto2-5{
    top: 100%;
    background-image: url('../foto/Santi178.jpg');
    background-position: center center;
}
#foto2-5text{
    position: absolute;
    top: 210%;
}
#foto2-5text p{
    color: white;
    padding: 30px;
}
#foto2-5text2{
    position: absolute;
    top: 240%;
}
#foto2-5text2 p{
    position: relative;
    top: 0;
    color: white;
    padding: 30px;
}
#foto2-5boto{
    position: relative;
    top: 300px;
}
#foto2-6{
    top: 100%;
    background-image: url('../foto/buda-6-.jpg');
    background-position: center center;
}
#foto2-6text{
    position: absolute;
    top: 210%;
}
#foto2-6text p{
    color: #CBA01A;
    font-size: 1.8vw;
    font-weight: 600;
    position: relative;
    top: 0;
}
#foto2-6text img{
    position: relative;
    top: 300px;
    width: 70%;
}
#foto2-6text2{
    position: absolute;
    top: 210%;
}
#foto2-6text2 p{
    color: black;
    padding: 30px;
}
#foto2-7{
    top: 100%;
    background-image: url('../foto/buda-95.jpg');
    background-position: center center;
}
#foto2-7text{
    position: absolute;
    top: 210%;
}
#foto2-7text p{
    color: white;
    padding: 30px
}
#apartat3{display: none;}
#foto3-1{
    top: -100%;
    background-image: url('../foto/_MG_8135.jpg');
    background-position: center center;
}
#foto3-1text{
    position: absolute;
    top: -140%;
}
#foto3-1text h2{
    color: white;
    padding: 15px;
    font-size: 3.5vw;
    text-transform: uppercase;
    font-weight: 600;
}
#foto3-1text2{
    position: absolute;
    top: -225%;
}
#foto3-1text2 p{
    position: relative;
    top: -300px;
    color: #F58431;
    padding: 30px;
}
#foto3-1boto1{
    position: relative;
    top: -300px;
}
#foto3-1boto2{
    position: relative;
    top: 0;
}
#foto3-2{
    top: -100%;
    background-image: url('../foto/buda-5-.jpg');
    background-position: center center;
}
#foto3-2 .tapa{
    opacity: 1;
    top: 0;
    background-image: url('../foto/buda-5-bn.jpg');
    background-position: center center;
}
#foto3-2text{
    position: absolute;
    top: -210%;
}
#foto3-2text p{
    color: white;
    padding: 15px;
    position: relative;
    top: -300px;
}
#foto3-2boto{
    position: relative;
    top: 0;
}
#foto3-2text2{
    position: absolute;
    top: -210%;
}
#foto3-2text2 p{
    color: white;
    font-weight: 600;
    font-size: 2vw;
}
#foto3-3{
    top: -100%;
}
#foto3-3 #foto3-3img{
    bottom: 0;
    width: 100%;
    position: absolute;
}
#foto3-3text{
    position: absolute;
    top: -215%;
}
#foto3-3text p{
    color: white;
    padding: 20px;
    position: relative;
    top: -300px;
}
#foto3-3boto1{
    position: relative;
    top: -300px;
    margin-right: 10px;
}
#foto3-3boto2{
    position: relative;
    top: 0;
}
#foto3-3text2{
    position: absolute;
    top: -215%;
}
#foto3-3text2 p{
    color: #F58431;
    padding: 20px;
}
#foto3-3 .tapa{
    z-index: 0;
}
#foto3-4{
    top: -100%;
}
#foto3-4 .videopeu{
    padding: 0 !important;
}
#foto3-4 .videopeu p{
    padding: 10px !important;
}
#foto3-5{
    top: -100%;
    background-image: url('../foto/Santi111.jpg');
    background-position: center center;
}
#foto3-5 .tapa{
    opacity: .6;
}
#foto3-5text{
    position: absolute;
    top: 210%;
}
#foto3-5text p{
    color: white;
    position: relative;
    top: 0;
    font-weight: 600;
    font-size: 1.8vw;
}
#foto3-5text img{
    position: relative;
    top: 300px;
}
#apartat4{display: none;}
#foto4-1{
    top: -100%;
    background-image: url('../foto/buda-96-bn.jpg');
    background-position: center center;
}
#foto4-1text{
    position: absolute;
    top: 210%;
}
#foto4-1text h2{
    position: relative;
    top: 300px;
    color: white;
    padding: 15px;
    font-size: 3.5vw;
    text-transform: uppercase;
    font-weight: 600;
}
#foto4-1text p{
    position: relative;
    top: 0;
    color: white;
    padding: 20px;
}
#foto4-1 .tapa{
    background-image: url('../foto/buda-96.jpg');
    background-position: center center;
    display: none;
}
#foto4-1text2{
    position: absolute;
    top: 210%;
}
#foto4-1text2 p{
    color: white;
    padding: 20px;
}
#foto4-2{
    top: -100%;
    background-image: url('../foto/Santi014.jpg');
    background-position: center top;
}
#foto4-2text{
    position: absolute;
    top: 240%;
}
#foto4-2text p{
    position: relative;
    top: 0;
    color: white;
    padding: 20px;
}
#foto4-2boto{
    position: relative;
    top: 300px;
}
#foto4-2 .tapa{
    left: 100%;
    opacity: 1;
    background-image: url('../foto/Santi121.jpg');
    background-position: center bottom;
    background-size: cover;
}
#foto4-3{
    top: -100%;
    background-image: url('../foto/SaP_584_06-1.jpg');
    background-position: center center;
}
#foto4-3text{
    position: absolute;
    top: 210%;
}
#foto4-3text p{
    color: #888D57;
    font-weight: 600;
    font-size: 1.8vw;
}
#foto4-3peu{
    color: white;
    padding: 10px;
}
#foto4-3text2{
    position: absolute;
    top: 210%;
}
#foto4-3text2 p{
    color: #888D57;
    padding: 20px;
}
#foto4-3 .f{
    width: 45vw !important;
    height: 80vh !important;
}
#foto4-3 .f img{
    max-width: 100%;
    max-height: 100%;
    width: initial !important;    
    height: initial !important;
}
#foto4-3peu2{
    color: white;
    padding: 10px;
}
#apartat5{display: none;}
#foto5-1{
    top: 100%;
    background-image: url('../foto/Santi115.jpg');
    background-position: center center;
}
#foto5-1text{
    position: absolute;
    bottom: 210%;
}
#foto5-1text h2{
    position: relative;
    top: 0;
    color: white;
    padding: 15px;
    font-size: 3.5vw;
    text-transform: uppercase;
    font-weight: 600;
}
#foto5-1text p{
    position: relative;
    top: -300px;
    color: white;
    padding: 20px;
}
#foto5-1boto{
    position: relative;
    top: -300px;
}
#foto5-1text2{
    position: absolute;
    top: -235%;
}
#foto5-1text2 p{
    color: #CD5D42;
    padding: 30px;
    position: relative;
    top: -300px;
}
#foto5-1boto1{
    position: relative;
    top: -300px;
}
#foto5-1boto2{
    position: relative;
    top: 0;
}
#apartat6{display: none;}
#foto6-1{
    top: 100%;
    background-image: url('../foto/Santi096.jpg');
    background-position: center center;
}
#foto6-1text{
    position: absolute;
    top: 210%;
}
#foto6-1text h2{
    position: relative;
    top: 300px;
    color: white;
    padding: 15px;
    font-size: 3.5vw;
    text-transform: uppercase;
    font-weight: 600;
}
#foto6-1text p{
    position: relative;
    top: 0;
    color: white;
    padding: 20px;
}
#foto6-1boto1{
    position: relative;
    top: 300px;
}
#foto6-1boto2{
    position: relative;
    top: 300px;
}
#foto6-1text2{
    position: absolute;
    top: 235%;
}
#foto6-1text2 p{
    position: relative;
    top: 0;
    color:white;
    padding: 30px;
}
#foto6-1boto3{
    position: relative;
    top: 300px;
}

/* 
#apartat6{display: none;}
#foto6-1{
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: -10;
    background-image: url('../foto/Santi096.jpg');
    background-size: cover;
}
#foto6-1text{
    position: absolute;
    top: 150%;
    left: 100px;
}
#foto6-1text p{
    position: relative;
    top: 0;
    margin-bottom: 10px;
    color: white;
    padding: 30px;
    font-size: 1.4rem;
    width: 43%;
}
#foto6-1text h2{
    position: relative;
    top: 600px;
    color: white;
    padding: 30px;
    font-size: 5.5rem;
    text-transform: uppercase;
    font-weight: 600;
    width: 89rem;
}
#foto6-1peu{
    position: absolute;
    color: white;
    left: 50px;
    bottom: -110%;
}
.play6{
    position: relative;
    z-index: 5;
    margin-right: 10px;
}
.play6 img{
    background-color: rgba(238,196,27,.6);
}
.play6 img:hover{
    background-color: #EEC41B;
    cursor: pointer;
}
#play6-1{
    top: 600px;
}
#play6-2{
    top: 600px;
}
#foto6-1text2{
    position: absolute;
    top: 150%;
    left: 100px;
}
#foto6-1text2 p{
    position: relative;
    top: 0;
    margin-bottom: 10px;
    color: white;
    padding: 15px;
    font-size: 1.3rem;
    width: 35%;
}
.foto6-1img{
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -9;
    opacity: 0;
}*/