#foto1-1{
    top: 0;
    opacity: 0;
    background-image: url('../foto/_MG_8140.jpg');
    background-position: center bottom;
}
#foto1-1text{
    position: absolute;
    top: -125%;
}
#foto1-1text h2{
    position: relative;
    top: 0;
    color: white;
    padding: 30px;
    font-size: 6vw;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 0.8 !important;
}
#foto1-1text p{
    position: relative;
    top: -300px;
    color: white;
    padding: 30px;
    font-size: 1.3vw;
}
#foto1-1text2{
    position: absolute;
    top: -125%;
}
#foto1-1text2 p{
    color: white;
    font-size: 1.5vw;
}
#foto1-1text2 img{
    position: relative;
    top: 0;
    left: 100vw;
    height: 300px;
}
#foto1-1video{
    position: absolute;
    top: 100%;
}
#foto1-1video video{
    min-width: inherit !important;
    max-height: 100vh !important;
}
#foto1-1video .peu{
    padding: 15px;
    color: black;
}
#apartat2{display: none;}
#foto2-1{
    top: 100%;
    background-image: url('../foto/buda-4.jpg');
    background-position: center bottom;
}
#foto2-1text{
    position: absolute;
    bottom: 210%;
}
#foto2-1text p{
    color: white;
    padding: 30px;
    font-size: 1.5vw;
}
#foto2-1text2{
    position: absolute;
    top: -190%;
}
#foto2-1text2 p{
    position: relative;
    top: 0;
    color: #ABB057;
    padding: 30px;
    margin-right: 10px;
}
#foto2-1boto{
    position: relative;
    top: -300px;
}
#marcacanyis{
    position: absolute;
    bottom: -110%;
    left: 0;
    height: 50%;
}
#foto2-1text3{
    position: absolute;
    bottom: 210%;
}
#foto2-1text3 p{
    position: relative;
    top: 0;
    color: white;
    padding: 30px;
    margin-right: 10px;
}
#foto2-1boto2{
    position: relative;
    top: -300px;
}
#apartat3{display: none;}
#foto3-1{
    position: absolute;
    top: 100%
}
#foto3-1video{
    position: absolute;
    top: 0;
}
#foto3-1text{
    position: absolute;
    top: -210%;
}
#foto3-1text h2{
    position: relative;
    top: 0;
    color: white;
    padding: 30px;
    font-size: 4vw;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1 !important;
}
#foto3-1text p{
    position: relative;
    top: -300px;
    color: white;
    padding: 30px;
    line-height: 1;
}
#foto3-1text2{
    position: absolute;
    bottom: -110%;
}
#foto3-1text2 p{
    color: white;
    padding: 30px;
}
#foto3-1video2{
    position: absolute;
    top: 100%;
}
#foto3-1text3{
    position: absolute;
    top: 110%;
}
#foto3-1text3 p{
    color: white;
    padding: 30px;
}
#apartat4{display: none;}
#foto4-1{
    top: 100%;
    background-image: url('../foto/IMG000PNDE_bn.jpg');
    background-position: center center;
}
#foto4-1text{
    position: absolute;
    top: -230%;
}
#foto4-1text h2{
    position: relative;
    top: 0;
    color: white;
    padding: 30px;
    font-size: 3.5vw;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1 !important;
}
#foto4-1text p{
    position: relative;
    top: -300px;
    color: white;
    padding: 30px;
    font-size: 1.8vw;
}
#foto4-2{
    top: 0;
    opacity: 0;
    background-image: url('../foto/IMG000PNDE.jpg');
    background-position: center center;
}
#foto4-2text{
    position: absolute;
    top: -210%;
}
#foto4-2text p:first-child{
    position: relative;
    top: -300px;
    color: black;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 600;
}
#foto4-2text p:last-child{
    position: relative;
    top: 0;
    color: white;
    padding: 30px;
}
.foto4-2plantes{
    position: absolute;
    top: 10%;
    left: 100%;
}
.foto4-2plantes img{
    height: 75vh;
    max-width: 100%;
    top: 10%;
}
.foto4-2plantes p{
    margin-top: 15px;
    text-transform: uppercase;
    padding: 10px;
    font-size: 1.8rem;
    color: black;
}
.foto4-2plantes div{
    position: relative;
    left: 300px;
}
.foto4-2plantes div:first-child{
    position: relative;
    left: 0;
}
#foto4-2text2{
    position: absolute;
    bottom: -110%;
}
#foto4-2text2 p:first-child{
    position: relative;
    top: 0;
    color: #EEC41B;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 600;
}
#foto4-2text2 p:last-child{
    position: relative;
    top: 300px;
    color: black;
    padding: 30px;
}
.foto4-2animals{
    position: absolute;
    top: 10%;
    left: 100%;
}
.foto4-2animals img{
    max-height: 100%;
    top: 10%;
}
.foto4-2animals p{
    margin-top: 15px;
    text-transform: uppercase;
    padding: 10px;
    font-size: 1.8rem;
    color: black;
}
.foto4-2animals div{
    height: 35vh;
    position: relative;
    left: 300px;
}
.foto4-2animals div:first-child{
    position: relative;
    left: 0;
}
#apartat5{display: none;}
#foto5-1{
    top: 100%;
    background-image: url('../video/Dia_1_Tortugues_bn.jpg');
    background-position: center center;
}
#foto5-1text{
    position: absolute;
    top: -220%;
}
#foto5-1text h2{
    position: relative;
    top: 0;
    color: white;
    padding: 20px;
    font-size: 3.5vw;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1 !important;
}
#foto5-1text p{
    position: relative;
    top: -300px;
    color: white;
    padding: 30px;
}
#foto5-1text2{
    position: absolute;
    bottom: 210%;
}
#foto5-1text2 p:first-child{
    position: relative;
    top: -300px;
    color: #F58431;
    padding: 10px;
    text-transform: uppercase;
}
#foto5-1text2 p:last-child{
    position: relative;
    top: 0;
    color: white;
    padding: 30px;
}
#apartat6{display: none;}
/* 
#animals1{
    position: absolute;
    top: 100px;
    left: 100%;
}
.col-md-4{
    position: relative;
    height: 40vh;
    display: inline-block;
    vertical-align: bottom;
    left: 600px;
}
.col-md-4 img{
    max-width: 100%;
    max-height: 100%;
    vertical-align: bottom;
}
.col-md-4 p{
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 70%;
    text-transform: uppercase;
    padding: 10px;
    font-size: 1.8rem;
}
#animals2{
    position: absolute;
    top: 100px;
    left: 100%;
    vertical-align: bottom;
}
#apartat5{
    display: none;
}
#foto5tortugues{
    position: absolute;
    top: 100%;
    z-index: -10;
    opacity: 1;
}
#foto5tortugues img{
    min-height: 100vh;
    min-width: 100%;
}
#text5-1{
    position: absolute;
    top: -100%;
    left: 100px;
}
#text5-1 p{
    width: 37%;
    color: white;
    line-height: inherit;
    margin-bottom: 15px;
    padding: 25px;
    position: relative;
    font-size: 1.8rem;
    top: -200px;
}
#text5-1 h2{
    position: relative;
    color: white;
    padding: 15px;
    font-size: 7rem;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1;
    width: 75%;
    top: 0px;
}
#tapa5-1{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -9;
}
#text5-2{
    position: absolute;
    width: 32%;
    bottom: 100%;
    left: 50px;
}
#text5-2 .negre{
    position: relative;
    color: #F58431;
    font-size: 1.9rem;
    margin-bottom: 20px;
    z-index: -9;
    padding: 20px;
    width: 237px;
    text-align: center;
    top: -300px;
}
#text5-2 .taronga{
    position: relative;
    font-size: 1.9rem;
    color: white;
    z-index: -9;
    padding: 20px;
    line-height: 1.2;
    top: 0px;
}
#video5-1fons{
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -10;
    opacity: 0;
}
#foto5-2tortugues{
    position: absolute;
    top: 100%;
    z-index: -10;
    opacity: 1;
}
#foto5-2tortugues img{
    min-height: 100vh;
    min-width: 100%;
}
#text5-3{
    position: absolute;
    width: 32%;
    top: 100%;
    right: 50px;
}
#text5-3 .taronga{
    position: relative;
    color: white;
    font-size: 1.9rem;
    margin-bottom: 20px;
    z-index: -9;
    padding: 7px;
    width: 185px;
    text-align: center;
    top: 0px;
    text-transform: uppercase;
}
#text5-3 .blanc{
    position: relative;
    font-size: 1.9rem;
    color: #F58431;
    z-index: -9;
    padding: 20px;
    line-height: 1.2;
    top: 300px;
}
#video5-2fons{
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -10;
    opacity: 0;
}
#apartat6{
    display: none;
}
#foto6valor{
    position: absolute;
    top: 100%;
    z-index: -10;
}
#foto6valor img{
    min-height: 100vh;
    min-width: 100vw;
}
#text6-1{
    position: absolute;
    top: -100%;
    left: 50px;
}
#text6-1 p{
    width: 37%;
    color: white;
    line-height: inherit;
    margin-bottom: 15px;
    padding: 25px;
    position: relative;
    font-size: 1.8rem;
    top: -200px;
}
#text6-1 h2{
    position: relative;
    color: white;
    padding: 15px;
    font-size: 7rem;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1;
    width: 58%;
    top: 0px;
}
#text6peu{
    position: absolute;
    color: white;
    z-index: -9;
    left: 50px;
    bottom: -50px;
}
#video6fons{
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: -10;
}
#text6video{
    position: absolute;
    color: white;
    z-index: -9;
    right: -50%;
    top: 10%;
    padding: 10px;
    width: 200px;
} */