.container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
    z-index: -1;
}
.videopopup{
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0,0,0,.7);
}
.titol,.destacat{
    padding: 3rem;
    color: white;
}
.titol h2{
    font-size: 10rem;
    font-weight: 600;
    margin: 0;
}
#imgcalaixos img{
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
    z-index: -10;
}
#titol1{
    position: absolute;
    top: -50%;
    left: 50px;
    text-transform: uppercase;
    padding: 2rem 4rem 2rem 2rem;
}
#titol1 h1{
    margin: 0;
    color: white;
    font-weight: 700;
    font-size: 9.5rem;
}
#destacat1{
    position: absolute;
    top: -50%;
    left: 50px;
    width: 30%;
    padding: 2rem 4rem 2rem 2rem;
}
#destacat1 p{
    color: white;
    margin: 0;
    font-size: 2rem;
    font-weight: 500;
}
#imgcalaixos p{
    position: absolute;
    bottom: -50px;
    left: 50px;
    z-index: -9;
    color: white;
}
#tapa1-1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -8;
}
#text1-1 p{
    position: absolute;
    z-index: -7;
    color: white;
    width: 35%;
    top: -50%;
    right: 50px;
    font-weight: 600;
    font-size: 3.6rem;
}
#text1-1 img{
    position: absolute;
    z-index: -7;
    height: 300px;
    top: 400px;
    right: -30%;
}
#video1-3{
    display: block;
    height: 100%;
    position: relative;
    top: 100%;
    left: 0px;
}
#video1-3 video{
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
}
#video1-3 .blau{
    padding: 5px;
    display: block;
    width: 30px;
    float: right;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50px;
}
#video1-3 .blau img{
    height: 20px;
}
#video1-3 .groc{
    position: absolute;
    bottom: 100px;
    left: 50px;
    padding: 5px;
    width: 250px;
}
#apartat2{
    display: none;
}
#foto2guille img{
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
    top: 100%;
    z-index: -10;
}
#foto2guille h3{
    position: absolute;
    color: white;
    font-weight: 600;
    width: 25%;
    line-height: inherit;
    font-size: 3rem;
    left: 50px;
    top: -50%;
    z-index: -9;
}
#foto2guille p{
    position: absolute;
    color: white;
    font-weight: 500;
    bottom: -50px;
    left: 50px;
    z-index: -9;
}
#tapa2-1{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -8;
}
#text2-1{
    width: 49%;
    position: absolute;
    top: -50%;
    left: 50px;
    z-index: -8;
}
#text2-1 p{
    font-size: 2rem;
    color: #ABB057;
    padding: 12px;
}
#marcacanyis{
    position: absolute;
    bottom: -52%;
    left: 50px;
    height: 50%;
}
#play2-1{
    position: absolute;
    z-index: 5;
    top: -200px;
    left: 50vw;
    background-color: rgba(238,196,27,.6);
}
#play2-1 img:hover{
    background-color: #EEC41B;
    cursor: pointer;
}
#text2-2{    
    width: 49%;
    position: absolute;
    bottom: -50%;
    left: 50px;
    z-index: -8;
}
#text2-2 p{    
    padding: 15px;
    color: white;
    font-size: 2rem;
    font-weight: 600;
    bottom: -200px;
    position: relative;
}
#play2-2{
    margin-bottom: 15px;
    position: relative;
    z-index: 5;    
}
#play2-2 img{
    background-color: rgba(238,196,27,.6);
}
#play2-2 img:hover{
    background-color: #EEC41B;
    cursor: pointer;
}
.videopopup{
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0,0,0,.7);
}
.videopopup #videosapartat2{
    display: block;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    width: 55%;
}
#videosapartat2 video{
    width: 95%;
}
#videosapartat2 .groc{
    position: absolute;
    margin-left: -200px;
    margin-top: -100px;
    width: 240px;
    padding: 5px;
}
#videosapartat2 .blau{
    padding: 5px;
    display: block;
    width: 30px;
    float: right;
    cursor: pointer;
}
#videosapartat2 .blau img{
    height: 20px;
}
#apartat3{
    display: none;
}
#video3fons{
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: -10;
}
#text3-1{
    position: absolute;
    top: -100%;
    left: 100px;
}
#text3-1 p{
    width: 33%;
    color: white;
    line-height: inherit;
    margin-bottom: 15px;
    padding: 25px;
    position: relative;
    font-size: 1.8rem;
    top: -200px;
}
#text3-1 h2{
    position: relative;
    color: white;
    padding: 15px;
    font-size: 7rem;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1;
    width: 45%;
}
#text3-2{
    position: absolute;
    bottom: -50%;
    right: 100px;
    width: 10%;
}
#text3-2 p{
    color: white;
    line-height: inherit;
    padding: 10px;
}
#video3-2fons{
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: -10;
}

#text3-3{
    position: absolute;
    bottom: -50%;
    right: 100px;
    width: 15%;
}
#text3-3 p{
    color: white;
    line-height: inherit;
    padding: 10px;
}
#apartat4{
    display: none;
}
#foto4pnde{
    position: absolute;
    top: 0;
    z-index: -10;
}
#tapa4-1{
    position: absolute;
    top: 0;
    z-index: -9;
    opacity: 0;
    min-height: 100vh;
    min-width: 100%;
}
#foto4pnde img{
    min-height: 100vh;
    min-width: 100%;
    //filter: url(~"data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(100%);
    -moz-filter:    grayscale(100%);
    -ms-filter:     grayscale(100%);
    -o-filter:      grayscale(100%);
    filter: gray;
}
#text4-1{
    position: absolute;
    top: 25%;
    left: 100px;
}
#text4-1 h2{
    color: white;
    font-weight: 600;
    width: 72%;
    line-height: 1.2;
    font-size: 6rem;
    z-index: -9;
    padding: 20px;
}
#text4-1 p{
    width: 45%;
    font-size: 3rem;
    color: white;
    font-weight: 600;
    z-index: -9;
    margin-bottom: 20px;
    padding: 20px;
    line-height: 1.2;
}
#apartat5{
    display: none;
}
#apartat6{
    display: none;
}
#apartat7{
    display: none;
}